<% messages.each do |message| %>
  <% time_diff = 0 %>
  <% time_diff = ((@prev_created_at - message.created_at.localtime) / 1.hour).round unless @prev_created_at.nil? %>
  <div class="media media-chat pb-0 <%= 'media-chat-reverse' if message.status != 'received' %>">
    <div class="media-body">      
      <% if time_diff > 3 %>
        <p class="meta mb-0"><time datetime="<%= message.created_at.localtime %>"><%= message.created_at.localtime.strftime('%a, %m/%d/%y %H:%M %p') %></time></p>
      <% end %>
      <p data-provide="tooltip" title="<%= message.created_at.localtime.strftime('%m/%d %H:%M %p') %>"><%= message.message %></p>      
    </div>
  </div>
  <% @prev_created_at = message.created_at.localtime %>
<% end %>
