<% messages.each do |message| %>
  <% time_diff = -1 %>
  <% time_diff = ((@prev_created_at - message.created_at) / 1.hour).round unless @prev_created_at.nil? %>
  <div class="media media-chat pb-0 <%= 'media-chat-reverse' if message.status != 'received' %>">
    <div class="media-body">      
      <% if time_diff > 3 || time_diff < 0 %>
        <p class="meta mb-0"><time datetime="<%= message.created_at.in_time_zone(cookies[:timezone]) %>"><%= message.created_at.in_time_zone(cookies[:timezone]).strftime('%a, %m/%d/%y %I:%M %p') %></time></p>
      <% end %>
      <p data-provide="tooltip" title="<%= message.created_at.in_time_zone(cookies[:timezone]).strftime('%m/%d %H:%I %p') %>"><%= message.message %></p>      
    </div>
  </div>
  <% @prev_created_at = message.created_at.in_time_zone(cookies[:timezone]) %>
<% end %>
