<% if @contact.tasks.pending.empty? %>
  <div class="row justify-content-md-center">
    <div class="col-md-offset-2 col-md-8">
      <div class="card card-transparent b-1" style="border-style:dotted !important;">
        <div class="card-body text-center">
          <h5 class="center-vh"><em>No pending tasks</em></h5>
          <a href="#qv-add-task" data-toggle="quickview" class="btn btn-outline btn-primary btn-xs">Add a task</a>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% @contact.tasks.pending.order(:due_date).each do |task| %>
    <div class="card b-1 hover-shadow-2 mb-20">
      <a class="media card-body" data-toggle="quickview" href="#qv_view_task" data-url="<%= admin_task_card_path(id: task.id, refresh_panel: refresh_panel) %>">
        <div class="media-left pr-12">
          <span class="avatar avatar-xl no-radius">
          <i class="fa fa-<%= task_type_icon(task_type: task.task_type) %>"></i></span>
        </div>
        <div class="media-body">
          <div class="mb-2">
            <span class="fs-20 pr-16"><%= task.title %></span>
          </div>
          <small class="fs-14 fw-300"><strong>Due: </strong><%= task.due_date.localtime.today? ? 'Today,' : task.due_date.localtime.strftime('%B %d') %>&nbsp;(<%= task.due_date.localtime.strftime('%I:%M %p') %>) <%= ' (confirmed)' if task.confirmed_at? %></small>
        </div>

        <div class="media-right text-right d-none d-md-block">
        </div>
      </a>
      <footer class="card-footer flexbox align-items-center">
        <div class="">
          <% unless task.notes.empty? %>
            <span class="text-lighter hover-light mr-15">
              <i class="fa fa-comment mr-1"></i> <%= task.notes.count %>
            </span>
          <% end %>   
          <span class="card-hover-show">
            <!--
            <% if task.task_type == 'meeting' && task.confirmed_at.nil? %>
              <button class="btn btn-xs fs-10 btn-bold btn-info" onclick="sendConfirmation(<%= task.id %>)">Ask Confirmation</button>
            <% end %>
            -->
            
            <button class="btn btn-xs fs-10 btn-bold btn-warning" onclick="deferTask(<%= task.id %>, '<%= task.due_date.localtime.strftime('%m/%d/%Y - %I:%M %p') %>')">Defer Task</button>
            <a class="btn btn-xs fs-10 btn-bold btn-danger ml-15" href="<%= admin_remove_contact_task_path(id: @contact.id, task_id: task.id) %>" data-remote="true">Remove</a>
          </span>
        </div>
        <div class="pull-right">
          <div class="avatar-list">
            <% task.owners.each do |owner| %>
              <span class="avatar bg-dark"><%= owner.initials %></span>
            <% end %>
            <button class="avatar avatar-add" data-provide="modaler" data-title="Assign staff" data-footer-visible="false" data-url="<%= admin_task_task_owners_path(task_id: task.id, refresh_panel: refresh_panel) %>"></button>
          </div>
        </div>
      </footer>
    </div>
  <% end %>
<% end %>
