<% @feed_activities.each do |activity| %>
  <li class="timeline-block">
    <div class="timeline-point">
      <span class="avatar bg-white"><i class="fs-25 text-fade hover-info fa fa-<%= activity_feed_icon(activity.object) %>" style="line-height: 38px;"></i></span>
    </div>
    <div class="timeline-content">
      <time><%= time_ago_in_words(activity.time) %> ago</time>
      <p style="color: #333">
        <% if activity.labels.present? %>
          <span class="h6"><%= activity.labels.action_type %></span> <%= activity.labels.action %> by <strong><%= activity.labels.actor %></strong>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
