<% @contact.tasks.done.order(updated_at: :desc).each do |task| %>
  <a data-toggle="quickview" href="#qv_view_task" data-url="<%= admin_task_card_path(id: task.id, refresh_panel: refresh_panel) %>">  
    <li class="timeline-block">
      <div class="timeline-point">
        <span class="avatar bg-white"><i class="fs-25 text-fade hover-info fa fa-<%= task_type_icon(task_type: task.task_type) %>" style="line-height: 38px;"></i></span>
      </div>
      <div class="timeline-content">
        <time><%= time_ago_in_words(task.updated_at) %> ago</time>
        <% if task.email_recipient %>
          <% if task.email_recipient.status == 'open' %>
            <span class="ml-10 text-info fw-400"><i class="fa fa-envelope-open" style="padding-right:3px;"></i> Opened</span>
          <% elsif task.email_recipient.status == 'click' %>
            <span class="ml-10 text-success fw-400"><i class="fa fa-hand-o-up" style="padding-right:3px;"></i> Clicked</span>
          <% elsif task.email_recipient.status == 'delivered' %>
            <span class="ml-10 text-gray fw-400"><i class="fa fa-envelope" style="padding-right:3px;"></i> Delivered</span>
          <% elsif task.email_recipient.status == 'unsubscribe' %>
            <span class="ml-10 text-pink fw-400"><i class="fa fa-thumbs-down" style="padding-right:3px;"></i> Unsubscribed</span>
          <% elsif task.email_recipient.status == 'bounced' %>
            <span class="ml-10 text-danger fw-400"><i class="fa fa-exclamation-circle" style="padding-right:3px;"></i> Bounced</span>
          <% else %>
            <span class="ml-10 text-warning fw-400"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span>
          <% end %>
        <% end %>
        <p style="color: #333">
          <span class="h6"><%= task.title %></span> completed by <strong><%= task.updated_by_user.first_name %></strong>          
        </p>
      </div>
    </li>
  </a>
<% end %>
