<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/forms_validator' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Fixes back button issue: when the user hits the Back button, the page DOM is restored from the cache but NOT the state of the select menu
    $('select').each(function () {
      var select = $(this);
      var selectedValue = select.find('option[selected]').val();

      if (selectedValue) {
        select.val(selectedValue);
      } else {
        select.prop('selectedIndex', 0);
      }
    });
  });
</script>

<header class="header">
  <div class="header-info">
    <div class="left">
      <h2 class="header-title">CRM <strong>Contacts</strong></h2>
    </div>
  </div>
  <div class="header-action">
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="quickview" href="#qv_new_contact"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="card card-shadowed hidden">
    <form class="lookup lookup-huge">
      <input class="no-radius no-border" type="text" placeholder="Try searching for names, tags...">
    </form>
  </div>

  <div id="contact_list" class="media-list media-list-divided media-list-hover">

    <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16">
      <div class="flexbox align-items-center row">

        <div class="col-sm-8 pl-0">
          <div class="btn-group btn-group-justified hidden" data-toggle="buttons">
            <label class="btn btn-light m-0 active">
              <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>All</input>
            </label>
            <label class="btn btn-light m-0">
              <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Leads</input>
            </label>
            <label class="btn btn-light m-0">
              <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Prospects</input>
            </label>
            <label class="btn btn-light m-0">
              <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Customers</input>
            </label>
          </div>
        </div>

        <div class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by</a>
          <div class="dropdown-menu">            
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-added-on', 'desc')">Newest</a>
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-added-on', 'asc')">Oldest</a>
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-name', 'asc')">Name</a>
          </div>
        </div>
      </div>
    </header>

    <div id="contact-list" class="media-list-body bg-white b-1">
      <% @active_contacts.each do |contact| %>
        <div class="media align-items-center" data-name="<%= contact.print_name %>" data-added-on="<%= contact.created_at.to_i %>">
          <a class="flexbox align-items-center flex-grow gap-items" href="<%= admin_contact_path(contact.id) %>">
            <span class="avatar avatar-lg"><%= contact.initials %></span>
            <div class="media-body text-truncate">
              <h6><%= contact.print_name %> | <span class="text-<%= contact.sales_stage %>"><%= contact.sales_stage.capitalize %></span></h6>
              <small class="contact-detail">
                <!--
                <span>Last activity: </span>
                <time datetime="2018-07-14 20:00">*** TO BE DONE ***</time>
                -->
                <span class="divider-dash"><span class="<%= 'text-info' unless contact.pending_tasks_count == 0 %>">
                  <%=
                    case contact.pending_tasks_count
                    when 0
                      'No pending tasks'
                    when 1
                      '1 pending task'
                    else
                      "#{contact.pending_tasks_count} pending tasks"
                    end
                  %>
                </span></span>
              </small>
            </div>
            <div class="media-right text-right d-none d-md-block">
              <p class="fs-11 text-fade mb-12"><i class="fa fa-calendar pr-1"></i> Added <%= contact.created_at.strftime('%m/%d/%Y') %></p>
            </div>
          </a>
          <!-- <div class="media-right gap-items">
            <a class="media-action lead fs-26" href="#qv-user-details" data-toggle="quickview" data-url="contact_card/<%= contact.id %>" data-provide="tooltip" title="" data-original-title="Quick actions"><i class="ti-bolt-alt"></i></a>
          </div> -->
        </div>
      <% end %>
    </div>

  </div>

</div>

<!------------------------------------- MODALS ---------------------------------------->

<!-- QUICKVIEW: Contact Action -->
<div id="qv-user-details" class="quickview"></div>

<!-- QUICKVIEW: New Contact Form -->
<div id="qv_new_contact" class="quickview quickview-xxl">
  <header class="quickview-header">
    <p class="quickview-title lead">New Contact</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>


  <div class="quickview-body">
    <%= form_tag admin_contacts_path, method: :post, id: 'new-contact-form', class: 'quickview-block form-type-material', data: { provide: 'validation' } do %>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="contact[first_name]" required>
            <label>First Name</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="contact[last_name]" required>
            <label>Last Name</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" required data-remote="/admin/next/contacts/new/email_validate" class="form-control" name="contact[email]">
        <label>Email Address</label>
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="contact[phonenumbers_attributes][][number]">
            <label>Phone Number</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Type" name="contact[phonenumbers_attributes][][phone_type]">
              <option value="mobile" selected>Mobile</option>
              <option value="home">Home</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Status" name="contact[sales_stage]">
              <option value="lead">Lead</option>
              <option value="prospect">Prospect</option>
              <option value="customer">Customer</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Source" name="contact[source]">
              <option value="email">Email</option>
              <option value="other">Other</option>
              <option value="partner">Partner</option>
              <option value="pr_advertising">PR / Advertising</option>
              <option value="referral">Referral</option>
              <option value="social_media">Social Media</option>
              <option value="web_search">Web Search</option>
              <option value="website_form">Website Form</option>
              <option value="word_of_mouth">Word of mouth</option>
            </select>
          </div>
        </div>
      </div>

      <label>Tags</label>
      <div class="form-group">
        <input type="text" name="contact[tag_list]" id="typeahed-tags">
        <small class="form-text">Press enter after typing tag</small>
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="6" name="contact[highlights]"></textarea>
        <label>Highlights</label>
      </div>

    <% end %>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button id="new-contact-add" class="btn btn-primary" onclick="submitNewContactForm()">Add</button>
    <button id="new-contact-cancel" class="btn btn-secondary" type="button" onclick="cancelNewContactForm(this)">Cancel</button>
    <div id="new-contact-spinner" class="spinner-circle-shadow invisible"></div>
  </footer>
</div>
