<% content_for :js do %>
  <%= stylesheet_link_tag 'plugins/flexx_plugin_crm/intlTelInput.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/intlTelInput.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Fixes back button issue: when the user hits the Back button, the page DOM is restored from the cache but NOT the state of the select menu
    $('select').each(function () {
      var select = $(this);
      var selectedValue = select.find('option[selected]').val();

      if (selectedValue) {
        select.val(selectedValue);
      } else {
        select.prop('selectedIndex', 0);
      }
    });
  });
</script>

<style>
  .badge-gray { color: #fff; }
  #contact-list .badge { letter-spacing: .5px; }

  .contact-table { table-layout: fixed; }
  .contact-table .media-body { padding-top: 6px; }
  .contact-table .custom-checkbox .custom-control-label:empty::after { top: 1px; }
  .contact-table tr:hover { background-color: #e3f3fc; }
  .contact-table tr.active { background-color: #e3f3fc; }

  @media only screen and (max-width: 768px) { #mass_action_btns { display: none; } }
</style>

<header class="header">
  <div class="header-info">
    <div class="left">
      <h2 class="header-title">Your <strong>Contacts</strong></h2>
    </div>
  </div>
  <div class="header-action">
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="quickview" href="#qv_new_contact"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="card card-shadowed">
    <form class="lookup lookup-huge">
      <input id="contact-search" class="no-radius no-border" type="text" placeholder="Start typing name...">
    </form>
  </div>

  <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16">
    <div class="flexbox align-items-center row">

      <div class="col-sm-8 pl-0">
        <div class="btn-group btn-group-justified hidden" data-toggle="buttons">
          <label class="btn btn-light m-0 active">
            <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>All</input>
          </label>
          <label class="btn btn-light m-0">
            <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Leads</input>
          </label>
          <label class="btn btn-light m-0">
            <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Prospects</input>
          </label>
          <label class="btn btn-light m-0">
            <input class="hide-control" type="radio" name="options" id="contacts_all" autocomplete="off" checked>Customers</input>
          </label>
        </div>
      </div>

      <div class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'tr', 'data-added-on', 'desc')">Newest</a>
          <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'tr', 'data-added-on', 'asc')">Oldest</a>
          <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'tr', 'data-fname', 'asc')">First Name</a>
          <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'tr', 'data-lname', 'asc')">Last Name</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Filter by</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" data-contacts-filter="none">All</a>
          <a class="dropdown-item" href="#" data-contacts-filter="lead">Lead</a>
          <a class="dropdown-item" href="#" data-contacts-filter="prospect">Prospect</a>
          <a class="dropdown-item" href="#" data-contacts-filter="customer">Customer</a>
        </div>
      </div>
      <span id="selected-filter" class="badge badge-lg badge-dark">None</span>
    </div>

    <div id="mass_action_btns" class="btn-group mr-15">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Bulk Actions</button>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- <a class="dropdown-item" href="#modal-bulk-tag" data-toggle="modal" data-target="#modal-bulk-tag">Tag</a>
        <div class="dropdown-divider"></div> -->
        <a class="dropdown-item" href="#" onclick="archiveContacts()">Archive</a>
      </div>
    </div>
  </header>

  <div class="card card-transparent">
    <table class="table table-separated contact-table" data-provide="selectall">
      <thead>
        <tr>
          <th class="w-40px pl-20 d-none d-md-table-cell">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input contact-checkbox">
              <label class="custom-control-label"></label>
            </div>
          </th>
          <th class="text-fade pl-30">General Info</th>
          <th class="text-fade d-none d-xl-table-cell w-350px">Tags</th>
          <th class="text-fade d-none d-md-table-cell w-100px">Added</th>
          <!--
          <th class="w-40px"></th>
          -->
        </tr>
      </thead>
      <tbody id="contact-list">
        <%= form_tag mass_action_admin_contacts_path, method: :post, id: 'mass-action-form' do %>
          <input type="hidden" name="mass_action" id="mass-action-option" value="">
          <input type="hidden" name="contact_ids[]" id="mass-action-contact-id" value="">
          <% @active_contacts.each do |contact| %>
            <tr class="shadow-1" data-name="<%= contact.print_name %>" data-fname="<%= contact.first_name.try(:strip) %>" data-lname="<%= contact.last_name.try(:strip) %>" data-added-on="<%= contact.created_at.to_i %>" data-sales-stage="<%= contact.sales_stage %>">
              <td class="pl-20 pt-25 d-none d-md-table-cell">
                <div class="custom-control custom-checkbox">
                  <input id="<%= contact.id %>" type="checkbox" name="contact_ids[]" value="<%= contact.id %>" class="custom-control-input contact-checkbox">
                  <label class="custom-control-label"></label>
                </div>
              </td>
              <td>
                <div class="media">
                  <a href="<%= admin_contact_path(contact.id) %>" class="avatar avatar-lg"><%= contact.initials %></a>
                  <div class="media-body">
                    <h6 class="lh-1"><a href="<%= admin_contact_path(contact.id) %>"><%= contact.print_name %> | <span class="text-<%= contact.sales_stage %>"><%= contact.sales_stage.capitalize %></a></h6>
                    <small class="<%= 'text-info' unless contact.pending_tasks_count == 0 %>">
                      <%=
                        case contact.pending_tasks_count
                        when 0
                          'No pending tasks'
                        when 1
                          '1 pending task'
                        else
                          "#{contact.pending_tasks_count} pending tasks"
                        end
                      %>
                    </small>
                  </div>
                </div>
              </td>
              <td class="pt-25 d-none d-xl-table-cell">
                <% contact.all_tags_list.first(3).each do |tag| %>
                  <span class="badge badge-secondary ml-0"><%= tag %></span>
                <% end %>
                <% if contact.all_tags_list.count > 3 %>
                  <div class="dropdown table-action" style="display: inline-block;">
                    <span class="dropdown-toggle no-caret hover-primary pl-10" data-toggle="dropdown"><span class="badge badge-gray ml-0">+<%= (contact.all_tags_list.count - 3 ) %></span></span>
                    <div class="dropdown-menu dropdown-menu-right p-2">
                      <% contact.all_tags_list.drop(3).each do |tag| %>
                        <span class="badge badge-secondary ml-0"><%= tag %></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </td>
              <td class="pt-25 d-none d-md-table-cell">
                <small><%= contact.created_at.strftime('%b %d %Y') %></small>
              </td>

              <td class="text-right table-actions pt-25">
                <div class="dropdown table-action">
                  <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                  <div class="dropdown-menu dropdown-menu-right">
                    <!-- <a class="dropdown-item" href="#qv-user-details" data-toggle="quickview" data-url="<%= card_admin_contact_path(contact.id) %>"><i class="ti-menu-alt"></i> Details</a> -->
                    <a class="dropdown-item" href="#" onclick="archiveSingleContact(<%= contact.id %>)"><i class="ti-trash"></i> Archive</a>
                  </div>
                </div>
              </td>

            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<!------------------------------------- QUICKVIEWS & MODALS ---------------------------------------->

<!-- QUICKVIEW: Contact Action -->
<div id="qv-user-details" class="quickview"></div>

<!-- QUICKVIEW: New Contact Form -->
<div id="qv_new_contact" class="quickview quickview-xxl">
  <header class="quickview-header">
    <p class="quickview-title lead">New Contact</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>


  <div class="quickview-body" data-utils-script="<%= asset_path('plugins/flexx_plugin_crm/utils.js') %>">
    <%= form_tag admin_contacts_path, method: :post, id: 'new-contact-form', class: 'quickview-block form-type-material', data: { provide: 'validation' } do %>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="contact[first_name]" required>
            <label>First Name</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="contact[last_name]" required>
            <label>Last Name</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" required data-remote="/admin/next/contacts/new/email_validate" class="form-control" name="contact[email]">
        <label>Email Address</label>
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="tel" autocomplete="off" class="form-control" name="contact[phonenumbers_attributes][][number]">
            <label style="top:-5px">Phone Number</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Type" name="contact[phonenumbers_attributes][][phone_type]">
              <option value="mobile" selected>Mobile</option>
              <option value="home">Home</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Status" name="contact[sales_stage]">
              <option value="lead">Lead</option>
              <option value="prospect">Prospect</option>
              <option value="customer">Customer</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" data-provide="selectpicker" title="Source" name="contact[source]">
              <option value="email">Email</option>
              <option value="other">Other</option>
              <option value="partner">Partner</option>
              <option value="pr_advertising">PR / Advertising</option>
              <option value="referral">Referral</option>
              <option value="social_media">Social Media</option>
              <option value="web_search">Web Search</option>
              <option value="website_form">Website Form</option>
              <option value="word_of_mouth">Word of mouth</option>
            </select>
          </div>
        </div>
      </div>

      <label>Tags</label>
      <div class="form-group">
        <input type="text" name="contact[tag_list]" id="typeahed-tags">
        <small class="form-text">Press enter after typing tag</small>
      </div>

      <label>Highlights</label>
      <div class="form-group form-type-fill">
        <textarea class="form-control px-15" placeholder="Include any details you may want to remember about the contact." rows="6" name="contact[highlights]"></textarea>
      </div>

    <% end %>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button id="new-contact-add" class="btn btn-primary" onclick="submitNewContactForm()">Add</button>
    <button id="new-contact-cancel" class="btn btn-secondary" type="button" onclick="cancelNewContactForm(this)">Cancel</button>
    <div id="new-contact-spinner" class="spinner-circle-shadow hidden"></div>
  </footer>
</div>

<!-- MODAL: Bulk Tag -->
<div class="modal fade" id="modal-bulk-tag" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Bulk Tag Contacts</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <div class="row">
          <div class="col-4 pl-0">
            <div class="media-list media-list-xs media-list-hover media-list-divided scrollable br-2" style="height: 350px;">
              <header class="media-list-header b-0">
                <form class="lookup lookup-lg w-100 bb-1 border-light">
                  <input class="w-100 no-radius no-border py-20" type="text" placeholder="Search tags..." data-provide="media-search">
                </form>
              </header>

              <% @tags.each do |tag| %>
                <a class="media media-single" href="#">
                  <span class="badge badge-pill badge-secondary"><%= tag.name %></span>
                </a>
              <% end %>

            </div>
          </div>
          <div class="col-8">
            <form class="py-20">
              <p>Select existing tag(s) from the list or type new ones.</p>
              <label>Tags</label>
              <div class="form-group">
                <input type="text" id="typeahed-tags" name="">
                <small class="form-text">Press enter after typing tag</small>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer bt-1">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-bold btn-primary">Tag 12 Contacts</button>
      </div>
    </div>
  </div>
</div>
