<% content_for :js do %>
  <%= stylesheet_link_tag 'plugins/flexx_plugin_crm/intlTelInput.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/intlTelInput.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/ckeditor' %>
<% end %>

<script>
  $('document').ready(function(){
    $("#send_text").click(function() {
      $('#contact-main-nav li a').each(function() {
        $(this).removeClass('active');
      });
      $('#contact-main-tabs div').each(function() {
        $(this).removeClass('active show');
      });
      $("#nav-conversations").addClass('active');
      $("#tab_conversations").addClass('active show');
    });

    $('#add_phone').click(function(){
      $('.nav-tabs #contact_details_link').tab('show');
      setTimeout(function() {
        $('#phone_field').focus();
      }, 500);
    });

    $('#add_email').click(function(){
      $('.nav-tabs #contact_details_link').tab('show');
      setTimeout(function() {
        $('#email_field').focus();
      }, 500);
    });

    $('#open_conversations').click(function(){
      setTimeout(function() {
        $('#chat-content').scrollToEnd();
      }, 250);
    });

    var hash = window.location.hash.substr(1);
    if (hash == 'sms') {
      $('.nav-tabs #open_conversations').tab('show');
      setTimeout(function() {
        $('#chat-content').scrollToEnd();
        $('#contact-conversations-text-message').focus();
      }, 250);
    }

    // $('#edit_tags').click(function(){
    //   $('.nav-tabs #contact_details_link').tab('show');
    //   setTimeout(function() {
    //     $('#tags_field .bootstrap-tagsinput').focus();
    //   }, 500);
    // });

  });

  window.dynamic_fields = <%= { flexxdynamicfields: @dynamic_fields }.to_json.html_safe %>;

</script>

<style>
  p { font-size: 14px; }

  .nav-link.active { background-color: #f5f6fa !important; }

  input[type=radio].hide-control { display: none; }

  @media (max-width: 576px) {
    .xs-text-center { text-align: center; }
    .hidden-xs { display: none; }

    #header_contact_name { margin-top: 15px; margin-bottom: 20px !important; }

    #action_buttons { margin-top: 30px; }
    #action_buttons button:not(:first-child) { margin-right: 8px; margin-left: 8px; }
    #action_buttons button:first-child { margin-right: 8px; }

    #tab_contact_details .card-body { padding-left: 0; padding-right: 0; }
  }

  .header-action .nav-link { width: 100%; }

  .intl-tel-input { width: 100%; }

  #action_buttons button:not(:first-child) { margin-right: 10px; margin-left: 10px; }
  #action_buttons button:first-child { margin-right: 10px; }

  #contact-timeline-panel > li:last-of-type .timeline-point::before { content: none; }
  #contact-timeline-panel .timeline-content p { margin-bottom: 0; line-height: 10px; }

  .ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 150px !important;
  }
</style>

<header class="header mb-0">
  <div class="header-info my-10">
    <div class="left">
      <div class="flexbox align-items-center pt-20 pull-right">
        <div class="dropdown">
          <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90 text-muted"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" onclick="updateSalesStage('archived')" style="width: 95%;"><i class="ti-trash"></i> Archive</button>
            <% if current_user.role == 'admin' %>
              <button class="btn btn-block btn-bold text-danger" onclick="updateSalesStage('delete')">Delete Contact</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="media align-items-center px-0 py-30 ml-10 bg-white">
        <span class="d-none d-sm-block contact avatar avatar-xxl avatar-bordered <%= @contact.sales_stage.downcase %>-stage fs-28" style="line-height: 92px;" id="initials-box"><%= @contact.initials %></span>
        <div class="media-body">
          <div class="row">
            <div class="col-md-6 xs-text-center">
              <span class="d-sm-none avatar avatar-xxl avatar-bordered card-<%= @contact.sales_stage.downcase %>" style="line-height: 88px;border-radius: 6px;"><%= @contact.initials %></span>
              <h2 id="header_contact_name" class="header-title pt-10 mb-0">
                <strong><%= @contact.print_name %></strong><span class="text-fade"> | </span>
                <a href="#" data-toggle="modal" data-target="#update_status_modal" class="fw-400 fs-18 text-uppercase text-<%= @contact.sales_stage.downcase %>" style="border-bottom: dotted .5px;" id="sales-stage-label"><%= @contact.sales_stage.humanize %></a>
              </h2>
              <div id="action_buttons" class="xs-text-center mt-10 mb-20">
                <% if @contact.email.present? %>
                  <button id='new-send-email-touchpoint' class="btn btn-square btn-round btn-info btn-lg btn-outline touchpoint" data-provide="tooltip" data-placement="top" title="Send Email"><i class="fa fa-envelope"></i></button>
                <% end %>
                <% if @contact.phonenumbers.present? && @contact.phonenumbers.first.phone_type == 'mobile' %>
                  <button id='new-message-touchpoint' class="btn btn-square btn-round btn-info btn-lg btn-outline touchpoint" data-provide="tooltip" data-placement="top" title="Send SMS"><i class="fa fa-sms"></i></button>
                <% end %>
                <% if @contact.phonenumbers.present? %>
                  <button id='new-phone-call-touchpoint' class="btn btn-square btn-round btn-info btn-lg btn-outline touchpoint" data-provide="tooltip" data-placement="top" title="Log Call"><i class="fa fa-phone"></i></button>
                <% end %>
                <button id='new-meeting-touchpoint' class="btn btn-square btn-round btn-info btn-lg btn-outline touchpoint" data-provide="tooltip" data-placement="top" title="Log Meeting"><i class="fa fa-calendar"></i></button>
                <button id='new-general-touchpoint' class="btn btn-square btn-round btn-info btn-lg btn-outline hidden-xs touchpoint" data-provide="tooltip" data-placement="top" title="Log Note"><i class="ti-notepad"></i></button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="flex-grow pt-10">
                <div class="fs-16 mb-15">
                  <i class="fa fa-fw fa-envelope w-30px"></i>
                  <% if @contact.email.present? %>
                    <%= @contact.email %>
                    <% unless @contact.valid_email? %>
                      <span class="badge badge-danger"><%= @contact.email_status.humanize %></span>
                    <% end %>
                  <% else %>
                    <small><a id="add_email" href="#" class="alert-link">add an email address</a></small>
                  <% end %>
                </div>
                <div class="fs-16 mb-15">
                  <i class="fa fa-fw fa-phone w-30px"></i> <%= @contact.phonenumbers.first.number if @contact.phonenumbers.present? %>
                  <% unless @contact.phonenumbers.present? %>
                    <small><a id="add_phone" href="#" class="alert-link">add a phone number</a></small>
                  <% end %>
                </div>
                <div class="">
                <% @contact.all_tags_list.each do |tag| %>
                  <span class="badge badge-info ml-0"><%= tag %></span>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-action" style="background-color: #EDEEF2;">
    <ul class="nav nav-tabs nav-justified nav-tabs-info" style="width: 100%; flex-wrap: wrap;">

      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab_activity">Activity</a>
      </li>
      <li class="nav-item">
        <a id="contact_details_link" class="nav-link" data-toggle="tab" href="#tab_contact_details">Details</a>
      </li>
      <li class="nav-item">
        <a id="open_conversations" class="nav-link" data-toggle="tab" href="#tab_conversations" onclick="markContactMessagesRead(<%= @contact.id %>)">SMS</a>
      </li>
      <li class="nav-item d-none d-sm-block">
        <a class="nav-link" href="#tab_recipes_campaigns" data-toggle="tab">Campaigns & Recipes</a>
      </li>
      <div class="dropdown d-sm-none">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#tab_recipes_campaigns" data-toggle="tab">Campaigns & Recipes</a>
        </div>
      </div>
    </ul>
  </div>
</header>

<div class="main-content">

    <div id="contact-main-tabs" class="tab-content <%= @contact.sales_stage.downcase %>">

      <div class="tab-pane fade active show" id="tab_activity">
        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <header class="card-header">
                <h4 class="card-title">Upcoming <strong>tasks</strong></h4>
                <div class="card-header-actions">
                  <% unless @contact.sales_stage.downcase == "archived" %> <a href="#qv-add-task" data-toggle="quickview" class="btn btn-sm btn-label btn-warning"><label><i class="ti-plus"></i></label>Create task</a>
                  <% end %>
                </div>
              </header>

              <div id="contact-open-tasks-panel" class="pt-20 px-20 scrollable" style="max-height: 400px;">
                <%= render partial: 'open_tasks', locals: { refresh_panel: 'view-contact-tasks-panels' } %>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="card">
              <header class="card-header">
                <h4 class="card-title">Activity <strong>timeline</strong></h4>
              </header>

              <ol id="contact-timeline-panel" class="timeline timeline-activity timeline-sm timeline-content-right w-100 pt-20">
                <%= render partial: 'timeline', locals: { refresh_panel: 'view-contact-tasks-panels' } %>
              </ol>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <h5 class="card-title">Completed <strong>forms</strong></h5>
              <div class="media-list media-list-hover media-list-divided scrollable">
                <% if @contact.contact_forms.empty? %>
                  <div class="task justify-content-center h-100px my-20">
                    <h5 class="center-vh text-fade"><em>No forms to show</em></h5>
                  </div>
                <% else %>
                  <table class="table" style="max-height: 400px;">
                    <thead><tr><th>Submited Date</th><th>Form Name</th><th>Actions</th></thead>
                    <tbody>
                      <% @contact.contact_forms.each do |cf| %>
                        <tr>
                          <td><%= cf.created_at.strftime '%m/%d/%Y' %></td>
                          <td><%= cf.parent.name %></td>
                          <td>
                            <a href="#" data-from-form="<%= cf.id %>" class="text-blue">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="#" data-delete-form="<%= cf.id %>" class="text-blue">
                              <i class="ml-3 fa fa-trash-o" aria-hidden="true"></i></td>
                            </a>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <%= form_tag admin_contact_path(@contact.id), method: :patch, id: 'tab_contact_details', class: 'col-lg-11 card form-type-combine tab-pane fade mb-40', style: 'margin: 0 auto;', data: { provide: 'validation' } do %>
        <%= render 'next/partials/save_changes', form_id: 'tab_contact_details' %>
        <h4 class="card-title">Contact <strong>details</strong></h4>

        <div class="card-body">
          <div class="row">
            <div class="col-xl-6">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First name</label>
                    <input class="form-control" type="text" name="contact[first_name]" value="<%= @contact.first_name %>">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last name</label>
                    <input class="form-control" type="text" name="contact[last_name]" value="<%= @contact.last_name %>">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input id="email_field" class="form-control" type="email" name="contact[email]" data-remote="/admin/next/contacts/<%= @contact.id %>/email_validate" value="<%= @contact.email %>">
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>

              <div id="phone-rows" data-utils-script="<%= asset_path('plugins/flexx_plugin_crm/utils.js') %>">
                <% if @contact.phonenumbers.present? %>
                  <% @contact.phonenumbers.each_with_index do |phone, i| %>
                    <div class="row mb-15">
                      <div class="col-md-6">
                        <div class="form-group with-dropdown">
                          <label>Phone</label>
                          <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="<%= phone.id %>">
                          <input class="form-control" type="tel" autocomplete="off" name="contact[phonenumbers_attributes][][number]" value="<%= phone.number %>">
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group with-dropdown">
                          <label>Type</label>
                          <select class="form-control" data-provide="selectpicker" name="contact[phonenumbers_attributes][][phone_type]">
                            <option <%= 'selected' if phone.phone_type == 'mobile' %> value="mobile">Mobile</option>
                            <option <%= 'selected' if phone.phone_type == 'home' %> value="home">Home</option>
                            <option <%= 'selected' if phone.phone_type == 'other' %> value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2 text-center">
                        <% if i == 0%>
                          <button class="btn btn-sm btn-info btn-outline my-2 h-50px w-100" data-add="phone" type="button"><i class="ti-plus"></i><i class="fas fa-phone fs-14 pl-1"></i></button>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group with-dropdown">
                        <label>Phone</label>
                        <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="">
                        <input id="phone_field" class="form-control" type="tel" autocomplete="off" name="contact[phonenumbers_attributes][][number]" value="">
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group with-dropdown">
                        <label>Type</label>
                        <select class="form-control" data-provide="selectpicker" name="contact[phonenumbers_attributes][][phone_type]">
                          <option value="mobile" selected>Mobile</option>
                          <option value="home">Home</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                      <button class="btn btn-sm btn-info btn-outline my-2 h-50px w-100" data-add="phone" type="button"><i class="ti-plus"></i><i class="fas fa-phone fs-14 pl-1"></i></button>
                    </div>
                  </div>
                <% end %>

              </div>

            </div>
            <div class="col-xl-6">
              <div class="row">

                <div class="col-12">
                  <div id="tags_field" class="form-group has-form-text">
                    <label>Tags</label>
                    <input type="text" value="<%= @contact.all_tags_list %>" id="typeahed-tags" name="contact[tag_list]">
                    <small class="form-text">Press enter after typing tag</small>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group form-type-fill">
                    <label>Highlights</label>
                    <small class="form-text mb-15">Include any details you may want to remember about the contact.</small>
                    <textarea id="testt" class="form-control px-1 h-editor" rows="6" name="contact[highlights]"><%= @contact.highlights %></textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-xl-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-input">
                      <label>Status</label>
                      <input type="text" class="form-control" value="<%= @contact.sales_stage.capitalize %>" readonly>
                    </div>
                    <span class="input-group-append">
                      <button class="btn btn-sm btn-info btn-outline" type="button" data-toggle="modal" data-target="#update_status_modal">Update</button>
                    </span>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group with-dropdown">
                    <label>Lead source</label>
                    <select class="form-control" data-provide="selectpicker" title="Choose Source" name="contact[source]">
                      <option <%= 'selected' if @contact.source == 'email' %> value="email">Email</option>
                      <option <%= 'selected' if @contact.source == 'other' %> value="other">Other</option>
                      <option <%= 'selected' if @contact.source == 'partner' %> value="partner">Partner</option>
                      <option <%= 'selected' if @contact.source == 'pr_advertising' %> value="pr_advertising">PR / Advertising</option>
                      <option <%= 'selected' if @contact.source == 'referral' %> value="referral">Referral</option>
                      <option <%= 'selected' if @contact.source == 'social_media' %> value="social_media">Social Media</option>
                      <option <%= 'selected' if @contact.source == 'web_search' %> value="web_search">Web Search</option>
                      <option <%= 'selected' if @contact.source == 'website_form' %> value="website_form">Website Form</option>
                      <option <%= 'selected' if @contact.source == 'word_of_mouth' %> value="word_of_mouth">Word of mouth</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label>Birthday</label>
                    <input type="text" class="form-control" name="contact[birthday]" value="<%= @contact.birthday.strftime("%m/%d/%Y") if @contact.birthday? %>" aria-describedby="basic-addon2"  data-format="{{99}}/{{99}}/{{9999}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-groups-attached">
                <div class="form-group">
                  <label>Street Address</label>
                  <input class="form-control" type="text" name="contact[address1]" value="<%= @contact.address1 %>">
                </div>

                <div class="form-group">
                  <label>Line 2</label>
                  <input class="form-control" type="text" name="contact[address2]" value="<%= @contact.address2 %>">
                </div>

                <div class="row">
                  <div class="form-group col-md-4 col-12">
                    <label>City</label>
                    <input class="form-control" type="text" name="contact[city]" value="<%= @contact.city %>">
                  </div>

                  <div class="form-group col-md-4 col-6">
                    <label>State / Province / Region</label>
                    <input class="form-control" type="text" name="contact[state]" value="<%= @contact.state %>">
                  </div>

                  <div class="form-group col-md-4 col-6">
                    <label>ZIP / Postal Code</label>
                    <input class="form-control" type="text" name="contact[postal_code]" value="<%= @contact.postal_code %>">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Template for new phones -->
      <div class="row hidden" id="phone-row-template">
        <div class="col-md-6">
          <div class="form-group with-dropdown">
            <label>Phone</label>
            <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="">
            <input class="form-control" type="tel" autocomplete="off" name="contact[phonenumbers_attributes][][number]" value="">
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group with-dropdown">
            <label>Type</label>
            <select class="form-control" name="contact[phonenumbers_attributes][][phone_type]">
              <option value="mobile">Mobile</option>
              <option value="home">Home</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="tab_conversations">
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <h5 class="card-title"><strong>SMS</strong> Conversation</h5>
              <div class="card-body flex-column">
                <% if @contact.phonenumbers.mobile.empty? %>
                  <div class="media flex-column text-center p-40 b-2 border-warning">
                    <span class="avatar avatar-xxl bg-warning opacity-60 mx-auto">
                      <i class="ti-info-alt fs-35 align-sub"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="text-uppercase fw-500 mt-3 text-warning">Uh oh!</h6>
                      <small class="fs-14"><%= @contact.first_name %> does not have a mobile number stored.<br>Go to the <span class="text-info">User Details</span> tab and add a mobile number to send SMS messages.</small>
                    </div>
                  </div>
                <% else %>
                  <div class="scrollable flex-grow" id="chat-content" data-provide="emoji" style="height: 400px;">
                    <div id="conversations-panel">
                      <%= render partial: 'conversations', locals: { messages: @contact.messages.order(created_at: :asc) } %>
                    </div>
                  </div>
                <% end %>
                <% if @contact.phonenumbers.mobile.present? %>
                  <footer class="publisher">
                    <span class="avatar align-self-start"><%= current_user.initials %></span>
                    <%= form_tag create_message_admin_messages_path(format: :js), method: :post, remote: true, authenticity_token: true, id: 'conversations-send-message-form', class: 'form-type-combine', style: 'width: 100%' do %>
                      <input type="hidden" class="form-control" name="message[contact_id]" value="<%= @contact.id %>">
                      <input type="hidden" class="form-control" name="refresh_panel" value="contact-conversations-panel">
                      <textarea name="message[body]" style="width: 85%" id="contact-conversations-text-message" data-provide="maxlength" maxlength=320 class="publisher-input auto-expand" rows="1" placeholder="Write something"></textarea>
                      <div class="gap-items align-self-end btn-group pull-right mr-10 dropup">
                        <%= render 'plugins/flexx_plugin_crm/admin/task_actions/dynamic_fields' %>
                        <button class="publisher-btn" id="contact-conversations-text-button"><i class="fa fa-paper-plane"></i></button>
                        <div id="contact-conversations-text-spinner" style="margin-left: 10px" class="spinner-circle-shadow hidden"></div>
                      </div>
                    <% end %>
                  </footer>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="tab_recipes_campaigns">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <header class="card-header">
                <h5 class="card-title">Available <strong>recipes</strong></h5>
                <div class="card-header-actions">
                  <a href="<%= admin_recipes_path() %>" class="btn btn-sm btn-label btn-default"><label><i class="ti-arrow-right"></i></label>Go to recipes</a>
                </div>
              </header>
              <div class="media-list media-list-hover media-list-divided">
                <% @available_recipes.each do |recipe| %>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <p><strong><%= recipe.title %></strong></p>
                    </div>
                    <div>
                      <a class="btn btn-sm btn-twitter btn-outline" href="<%= admin_contact_add_task_recipe_path(contact_id: @contact.id, task_recipe_id: recipe.id) %>">Add tasks</a>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <h5 class="card-title text-fade">Active <strong>Campaigns</strong><span class="pull-right"><small>Coming soon</small></span></h5>
              <div class="media-list media-list-hover media-list-divided">
                <% @automated_campaigns.each do |campaign| %>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <p><strong><%= campaign.name %></strong></p>
                    </div>
                    <div>
                      <% if @subscribed_campaigns.include?(campaign.id) %>
                        <a class="btn btn-sm btn-twitter" href="#">Added</a>
                      <% else %>
                        <a class="btn btn-sm btn-twitter btn-outline" href="#">Add to list</a>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_task" class="quickview quickview-xxl backdrop-dark"></div>

<!-- QUICKVIEW - Add task -->
<div id="qv-add-task" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Task</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <%= form_tag admin_create_contact_task_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'new-contact-task-form', class: 'form-type-combine' do %>
      <input type="hidden" name="task[touchpoint]" value="">
      <div class="card-body">
        <div class="mt-30">
          <%= render partial: 'plugins/flexx_plugin_crm/common/task_stocks_dropdown' %>
        </div>
        <div class="form-group">
          <label for="select">Type</label>
          <select class="form-control" name="task[task_type]">
            <option value="phone_call">Phone call</option>
            <option value="email">Email</option>
            <option value="message">Text</option>
            <option value="meeting">Meeting</option>
            <option value="general">General</option>
          </select>
        </div>
        <div class="form-group col-12">
          <label>Date / Time</label>
          <input class="form-control datetimepicker" type="text" name="task[due_date]">
        </div>
        <br>
        <h6 class="text-light fw-300">Details</h6>
        <div class="form-groups-attached">
          <div class="form-group">
            <label>Task title</label>
            <input class="form-control" type="text" name="task[title]">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="6" name="task[details]"></textarea>
          </div>
        </div>

        <div class="pull-right">
          <span class="pr-12">Assign to: </span>
          <div class="avatar-list">
          </div>
          <button type="button" class="avatar avatar-add" data-assign="staff" data-target="#modal-assign-staff"></button>
        </div>
      </div>

      <div id="modal-assign-staff" class="modal fade" tabindex="-1" style="background-color:#7f7f7f;" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Assign staff</h5>
              <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <%= render 'plugins/flexx_plugin_crm/tasks/owners' %>
              <div class="text-right">
                <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <footer class="quickview-footer flex-row-reverse">
    <div id="new-contact-task-spinner" class="spinner-circle-shadow hidden"></div>
    <button class="btn btn-success" id="new-contact-task-add" onclick="addNewContactTask()">Add</button>
    <button class="btn btn-danger" id="new-contact-task-cancel" onclick="closeTaskView(this)">Cancel</button>
  </footer>
</div>

<!-- MODAL: Defer task -->
<div class="modal modal-center fade" id="modal-defer-task" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Defer: Task title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag defer_task_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'defer-task-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="defer-task-id-field">
          <input type="hidden" name="refresh_panel" value="contact-detail">
          <div class="form-group">
            <label>Current due date</label>
            <input type="text" class="form-control" id="defer-current-due-date-field" value="" readonly="">
          </div>
          <div class="form-group">
            <label>Defer until</label>
            <input class="form-control datetimepicker" type="text" name="task[due_date]">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" onclick="$('#defer-task-form').submit()">Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Send Confirmation -->
<div class="modal modal-center fade" id="modal-send-confirmation" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation Message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag send_task_confirmation_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'send-confirmation-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="send-confirmation-task-id-field">
          <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" name="phonenumber" value="<%= @contact.phonenumbers.mobile.first.number unless @contact.phonenumbers.mobile.empty? %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal" onclick="$('#send-confirmation-form').submit()">Send</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Update Status -->
<div class="modal modal-center fade" id="update_status_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag admin_update_contact_status_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'update-sales-stage-form' do %>
        <input type="hidden" name="contact[sales_stage]" id="update-sales-stage-field" value="">
      <% end %>
      <div class="modal-body">
        <p>
          <button class="btn btn-block btn-bold btn-lead btn-lg" onclick="updateSalesStage('lead')">Lead</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-prospect btn-lg" onclick="updateSalesStage('prospect')">Prospect</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-customer btn-lg" onclick="updateSalesStage('customer')">Customer</button>
        </p>
        <!--
        <p>
          <button class="btn btn-block btn-bold border-danger text-danger btn-lg" onclick="updateSalesStage('archived')">Archive Contact</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold border-danger text-danger btn-lg" onclick="updateSalesStage('delete')">Delete Contact</button>
        </p>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: Add note to timeline -->
<div class="modal modal-center fade" id="modal-new-touchpoint" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New <strong>touchpoint</strong></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 mb-30">
            <h4>Send message</h4>
            <% if @contact.email.present? %>
              <div class="media-list media-list-hover media-list-divided b-1">
                <a id='new-send-email-touchpoint' class="media media-single" href="#">
                  <span class="lead text-info text-uppercase"><i class="fa fa-envelope"></i></span>
                  <span class="title"><strong><%= @contact.email %></strong></span>
                  <span class="lead text-info text-uppercase">Email </span><i class="fa fa-paper-plane text-info"></i>
                </a>
              </div>
            <% end %>
            <% if @contact.phonenumbers.present? && @contact.phonenumbers.first.phone_type == 'mobile' %>
              <div class="media-list media-list-hover media-list-divided b-1">
                <a id="new-message-touchpoint" class="media media-single" href="#">
                  <span class="lead text-info text-uppercase"><i class="fa fa-comment"></i></span>
                  <span class="title"><strong><%= @contact.phonenumbers.first.number %></strong></span>
                  <span class="lead text-info text-uppercase">Text </span><i class="fa fa-paper-plane text-info"></i>
                </a>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6">
            <h4>Log interaction</h4>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-phone-call-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="fa fa-phone text-info fs-14 pr-10"></i> <strong>Phone call</strong></span>
              </a>
            </div>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-meeting-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="ti-calendar text-info fs-14 pr-10"></i> <strong>Meeting</strong></span>
              </a>
            </div>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-general-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="ti-notepad text-info fs-14 pr-10"></i> <strong>General</strong></span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL - Contact form modal -->
<%= render 'plugins/flexx_plugin_crm/common/contact_form_modal' %>
