<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/forms_validator' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/ckeditor' %>
  <%= javascript_include_tag 'camaleon_cms/admin/jquery.validate' %>
<% end %>

<script>
  $('document').ready(function(){
    $("#send_text").click(function() {
      $('#contact-main-nav li a').each(function() {
        $(this).removeClass('active');
      });
      $('#contact-main-tabs div').each(function() {
        $(this).removeClass('active show');
      });
      $("#nav-conversations").addClass('active');
      $("#tab_conversations").addClass('active show');
    });

  });

  window.dynamic_fields = <%= @dynamic_fields.html_safe %>;

</script>

<style>
input[type=radio].hide-control { display: none; }
</style>

<div class="main-content">
  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card mb-0">
          <header class="card-header card-<%= @contact.sales_stage.downcase %> text-center">
            <h4 id="sales-stage-label" class="card-title text-white text-uppercase fw-300 fs-22"><%= @contact.sales_stage.humanize %></h4>
            <% unless @contact.sales_stage.downcase == "archived" %><a href="#" class="pull-right text-white" data-toggle="modal" data-target="#update_status_modal">Update</a><% end %>
          </header>
          <div class="media card-body">
            <div class="media-left pr-6">
              <span class="avatar avatar-xl avatar-bordered" style="line-height: 58px;"><%= @contact.initials %></span>
            </div>

            <div class="media-body">
              <div class="mt-3">
                <span class="fs-16 pr-16"><%= @contact.print_name %></span>
              </div>
            </div>
          </div>
          <% unless @contact.all_tags_list.empty? %>
            <div class="divider text-info text-capitalize m-0">Current Tags</div>
            <div class="media card-body">
              <% @contact.all_tags_list.each do |tag| %>
                <span class="badge badge-info ml-0"><%= tag %></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="accordion accordion-connected hidden" id="accordion-contact">
          <div class="card">
            <h5 class="card-title">
              <a data-toggle="collapse" data-parent="#accordion-contact" href="#collapse-contact">Contact <%= @contact.first_name %></a>
            </h5>

            <div id="collapse-contact" class="collapse">
              <% if @contact.email.present? %>
                <div class="media-list media-list-hover media-list-divided">
                  <a class="media media-single" href="#">
                    <span class="lead text-info text-uppercase"><i class="fa fa-envelope"></i></span>
                    <span class="title"><strong><%= @contact.email %></strong></span>
                    <span class="lead text-info text-uppercase">Email </span><i class="fa fa-paper-plane text-info"></i>
                  </a>
                </div>
              <% end %>
              <% if @contact.phonenumbers.present? %>
                <div class="media-list media-list-hover media-list-divided">
                  <span class="media media-single">
                    <span class="lead text-lighter text-uppercase"><i class="fa fa-phone"></i></span>
                    <span class="title"><strong><%= @contact.phonenumbers.first.number %></strong></span>
                    <span class="lead text-lighter text-uppercase">Call </span>
                  </span>
                </div>
              <% end %>
              <% if @contact.phonenumbers.present? && @contact.phonenumbers.first.phone_type == 'mobile' %>
                <div class="media-list media-list-hover media-list-divided">
                  <a id="send_text" class="media media-single" href="#">
                    <span class="lead text-info text-uppercase"><i class="fa fa-comment"></i></span>
                    <span class="title"><strong><%= @contact.phonenumbers.first.number %></strong></span>
                    <span class="lead text-info text-uppercase">Text </span><i class="fa fa-paper-plane text-info"></i>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless @contact.sales_stage.downcase == "archived" %>
        <div class="row text-center mb-15">
          <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-12 pb-15">
            <a class="btn btn-block btn-multiline b-2 border-warning text-warning" href="#qv-add-task" data-toggle="quickview"><i class="ti-layout-list-thumb fs-20"></i><br>Create task</a>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-12 pb-15">
            <a class="btn btn-block btn-multiline b-2 border-success text-success" href="#modal-new-touchpoint" data-toggle="modal"><i class="ti-layout-list-thumb fs-20"></i><br>New touchpoint</a>
          </div>
        </div>
      

        <div class="card">
          <ul id="contact-main-nav" class="nav nav-lg nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#tab_contact_details" data-toggle="tab">User Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab_history" data-toggle="tab">Tasks & History</a>
            </li>
            <li class="nav-item">
              <a id="nav-conversations" class="nav-link" href="#tab_conversations" data-toggle="tab"><% if @contact.phonenumbers.mobile.empty? %><span class="pr-1"><i class="ti-info-alt text-warning"></i></span><% end %> SMS Conversation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab_recipes_campaigns" data-toggle="tab">Campaigns & Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab_completed_forms" data-toggle="tab">Completed Forms</a>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <div id="contact-main-tabs" class="col-lg-8 tab-content <%= @contact.sales_stage.downcase %>">
      <%= form_tag admin_contact_path(@contact.id), method: :patch, id: 'tab_contact_details', class: 'card form-type-material tab-pane fade active show' do %>
        <h4 class="card-title fw-400">Contact Details</h4>

        <div class="card-body">
          <div class="flexbox gap-items-4">
            <div class="flex-grow">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" name="contact[first_name]" value="<%= @contact.first_name %>">
                    <label>First name</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" name="contact[last_name]" value="<%= @contact.last_name %>">
                    <label>Last name</label>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group require">
                <input class="form-control" type="email" required name="contact[email]" value="<%= @contact.email %>">
                <label class="required">Email</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group do-float">
                <input type="text" class="form-control" name="contact[birthday]" value="<%= @contact.birthday.strftime("%m/%d/%Y") if @contact.birthday? %>" aria-describedby="basic-addon2"  data-format="{{99}}/{{99}}/{{9999}}">
                <label>Birthday</label>
              </div>
            </div>
          </div>
          <div id="phone-rows">
            <% if @contact.phonenumbers.present? %>
              <% @contact.phonenumbers.each_with_index do |phone, i| %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="<%= phone.id %>">
                      <input class="form-control" type="text" name="contact[phonenumbers_attributes][][number]" value="<%= phone.number %>">
                      <label>Phone</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control" data-provide="selectpicker" name="contact[phonenumbers_attributes][][phone_type]">
                        <option>Type</option>
                        <option <%= 'selected' if phone.phone_type == 'mobile' %> value="mobile">Mobile</option>
                        <option <%= 'selected' if phone.phone_type == 'home' %> value="home">Home</option>
                        <option <%= 'selected' if phone.phone_type == 'other' %> value="other">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 text-center">
                    <% if i == 0%>
                      <button class="btn btn-sm btn-info btn-outline mt-10" type="button" onclick="addNewPhoneRow()">Add Phone</button>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="">
                    <input class="form-control" type="text" name="contact[phonenumbers_attributes][][number]" value="">
                    <label>Phone</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" data-provide="selectpicker" name="contact[phonenumbers_attributes][][phone_type]">
                      <option>Type</option>
                      <option value="mobile">Mobile</option>
                      <option value="home">Home</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <button class="btn btn-sm btn-info btn-outline mt-10" type="button" onclick="addNewPhoneRow()">Add Phone</button>
                </div>
              </div>
            <% end %>
            <div class="row hidden" id="phone-row-template">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="hidden" name="contact[phonenumbers_attributes][][id]" value="">
                  <input class="form-control" type="text" name="contact[phonenumbers_attributes][][number]" value="">
                  <label>Phone</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" name="contact[phonenumbers_attributes][][phone_type]">
                    <option>Type</option>
                    <option value="mobile">Mobile</option>
                    <option value="home">Home</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 text-center"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" name="contact[address1]" value="<%= @contact.address1 %>">
                <label>Street Address</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" name="contact[address2]" value="<%= @contact.address2 %>">
                <label>Line 2</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" name="contact[city]" value="<%= @contact.city %>">
                <label>City</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control" type="text" name="contact[state]" value="<%= @contact.state %>">
                <label>State / Province / Region</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control" type="text" name="contact[postal_code]" value="<%= @contact.postal_code %>">
                <label>ZIP / Postal Code</label>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-input">
                  <input type="text" class="form-control" value="<%= @contact.sales_stage.capitalize %>" readonly>
                  <label>Status</label>
                </div>
                <span class="input-group-append">
                  <button class="btn btn-sm btn-info btn-outline" type="button" data-toggle="modal" data-target="#update_status_modal">Update</button>
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group form-type-material do-float">
                <select class="form-control" data-provide="selectpicker" title="Choose Source" name="contact[source]">
                  <option <%= 'selected' if @contact.source == 'email' %> value="email">Email</option>
                  <option <%= 'selected' if @contact.source == 'other' %> value="other">Other</option>
                  <option <%= 'selected' if @contact.source == 'partner' %> value="partner">Partner</option>
                  <option <%= 'selected' if @contact.source == 'pr_advertising' %> value="pr_advertising">PR / Advertising</option>
                  <option <%= 'selected' if @contact.source == 'referral' %> value="referral">Referral</option>
                  <option <%= 'selected' if @contact.source == 'social_media' %> value="social_media">Social Media</option>
                  <option <%= 'selected' if @contact.source == 'web_search' %> value="web_search">Web Search</option>
                  <option <%= 'selected' if @contact.source == 'website_form' %> value="website_form">Website Form</option>
                  <option <%= 'selected' if @contact.source == 'word_of_mouth' %> value="word_of_mouth">Word of mouth</option>
                </select>
                <label>Lead source</label>
              </div>

              <div class="form-group">
                <div class="input-group">

                </div>
              </div>
            </div>
          </div>

          <label>Tags</label>
          <div class="form-group">
            <input type="text" value="<%= @contact.all_tags_list %>" id="typeahed-tags" name="contact[tag_list]">
            <small class="form-text">Press enter after typing tag</small>
          </div>

          <div class="form-group">
            <textarea class="form-control" rows="6" name="contact[highlights]"><%= @contact.highlights %></textarea>
            <label>Highlights</label>
          </div>
        </div>

        <footer class="card-footer text-right">
          <button class="btn btn-flat btn-primary" type="submit">Save Changes</button>
        </footer>
      <% end %>

      <div class="tab-pane fade" id="tab_history">
        <div class="accordion accordion-connected" id="accordion-tasks">
          <div class="">
            <h4 class="card-title mb-20">
              <a class="<%= 'collapsed' if @contact.pending_tasks_count == 0 %>" data-toggle="collapse" data-parent="#accordion-tasks" href="#collapse-tasks"><strong>Open tasks</strong> <% unless @contact.pending_tasks_count == 0 %><span class="pull-right"><small class="text-lighter">Click to collapse</small></span><% end %></a>
            </h4>

            <div id="collapse-tasks" class="collapse <%= 'show' unless @contact.pending_tasks_count == 0 %>">
              <div id="contact-open-tasks-panel">
                <%= render partial: 'open_tasks', locals: { refresh_panel: 'view-contact-tasks-panels' } %>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header">
            <h4 class="card-title"><strong>History</strong> timeline</h4>
          </header>

          <ol id="contact-timeline-panel" class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
            <%= render partial: 'timeline', locals: { refresh_panel: 'view-contact-tasks-panels' } %>
          </ol>

        </div>
      </div>

      <div class="tab-pane fade" id="tab_conversations">
        <div class="card">
          <h5 class="card-title"><strong>SMS</strong> Conversation</h5>
          <div class="card-body flex-column">
            <% if @contact.phonenumbers.mobile.empty? %>
              <div class="media flex-column text-center p-40 b-2 border-warning">
                <span class="avatar avatar-xxl bg-warning opacity-60 mx-auto">
                  <i class="ti-info-alt fs-35 align-sub"></i>
                </span>
                <div class="text-center">
                  <h5 class="text-uppercase fw-500 mt-3 text-warning">Uh oh!</h6>
                  <small class="fs-14"><%= @contact.first_name %> does not have a mobile number stored.<br>Go to the <span class="text-info">User Details</span> tab and add a mobile number to send SMS messages.</small>
                </div>
              </div>
            <% else %>
              <div class="scrollable flex-grow" id="chat-content" data-provide="emoji" style="height: 500px;">
                <div id="conversations-panel">
                  <%= render partial: 'conversations', locals: { messages: @contact.messages.order(created_at: :asc) } %>
                </div>
              </div>
            <% end %>
            <% if @contact.phonenumbers.mobile.present? %>
              <footer class="publisher">
                <span class="avatar"><%= current_user.initials %></span>
                <%= form_tag create_text_blast_admin_messages_path(format: :js), method: :post, remote: true, authenticity_token: true, id: 'conversations-send-message-form', class: 'form-type-combine', style: 'width: 100%' do %>
                  <input type="hidden" class="form-control" name="recipients" value="<%= @contact.id %>">
                  <input type="hidden" class="form-control" name="refresh_panel" value="contact-conversations-panel">
                  <input name="body" style="width: 100%" id="contact-conversations-text-message" class="publisher-input" rows="1" placeholder="Write something">
                <% end %>
                <div class="gap-items">
                  <a class="publisher-btn" id="contact-conversations-text-button" href="#" onclick="$('#conversations-send-message-form').submit()"><i class="fa fa-paper-plane"></i></a>
                </div>
                <div class="gap-items">
                  <div id="contact-conversations-text-spinner" style="margin-left: 10px" class="spinner-circle-shadow invisible"></div>
                </div>
              </footer>
            <% end %>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="tab_recipes_campaigns">

        <div class="card">
          <h5 class="card-title">Available <strong>Recipes</strong></h5>
          <div class="media-list media-list-hover media-list-divided">
            <% @available_recipes.each do |recipe| %>
              <div class="media align-items-center">
                <div class="media-body">
                  <p><strong><%= recipe.title %></strong></p>
                </div>
                <div>
                  <a class="btn btn-sm btn-twitter btn-outline" href="<%= admin_contact_add_task_recipe_path(contact_id: @contact.id, task_recipe_id: recipe.id) %>">Add tasks</a>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card">
          <h5 class="card-title text-fade">Active <strong>Campaigns</strong><span class="pull-right"><small>Coming soon</small></span></h5>
          <div class="media-list media-list-hover media-list-divided">
            <% @automated_campaigns.each do |campaign| %>
              <div class="media align-items-center">
                <div class="media-body">
                  <p><strong><%= campaign.name %></strong></p>
                </div>
                <div>
                  <% if @subscribed_campaigns.include?(campaign.id) %>
                    <a class="btn btn-sm btn-twitter" href="#">Added</a>
                  <% else %>
                    <a class="btn btn-sm btn-twitter btn-outline" href="#">Add to list</a>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="tab_completed_forms">

        <div class="card">
          <h5 class="card-title"><strong>Completed Forms</strong></h5>
          <div class="media-list media-list-hover media-list-divided">
            <table class="table">
              <thead><tr><th>Submited Date</th><th>Form Name</th><th>Actions</th></thead>
              <tbody>
                <% @contact.contact_forms.each do |cf| %>
                  <tr>
                    <td><%= cf.created_at.strftime '%m/%d/%Y' %></td>
                    <td><%= cf.parent.name %></td>
                    <td>
                      <a href="#" data-from-form="<%= cf.id %>" class="text-blue">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                      <a href="#" data-delete-form="<%= cf.id %>" class="text-blue">
                        <i class="ml-3 fa fa-trash-o" aria-hidden="true"></i></td>
                      </a>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_task" class="quickview quickview-xxl backdrop-dark"></div>

<!-- QUICKVIEW - Add task -->
<div id="qv-add-task" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Task</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <%= form_tag admin_create_contact_task_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'new-contact-task-form', class: 'form-type-combine' do %>
      <input type="hidden" name="new_contact_task[touchpoint]" value="">
      <div class="card-body">
        <div class="form-group">
          <label for="select">Type</label>
          <select class="form-control" name="new_contact_task[task_type]">
            <option value="phone_call">Phone call</option>
            <option value="email">Email</option>
            <option value="message">Text</option>
            <option value="meeting">Meeting</option>
            <option value="general">General</option>
          </select>
        </div>
        <div class="form-group col-12">
          <label>Date / Time</label>
          <input class="form-control datetimepicker" type="text" name="new_contact_task[due_date]">
        </div>
        <br>
        <h6 class="text-light fw-300">Details</h6>
        <div class="form-groups-attached">
          <div class="form-group">
            <label>Task title</label>
            <input class="form-control" type="text" name="new_contact_task[title]">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="6" name="new_contact_task[details]"></textarea>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <footer class="quickview-footer flex-row-reverse">
    <div id="new-contact-task-spinner" class="spinner-circle-shadow invisible"></div>
    <button class="btn btn-success" id="new-contact-task-add" onclick="addNewContactTask()">Add</button>
    <button class="btn btn-danger" id="new-contact-task-cancel" onclick="closeTaskView(this)">Cancel</button>
  </footer>
</div>

<!-- MODAL: Defer task -->
<div class="modal modal-center fade" id="modal-defer-task" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Defer: Task title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag defer_task_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'defer-task-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="defer-task-id-field">
          <input type="hidden" name="refresh_panel" value="contact-detail">
          <div class="form-group">
            <label>Current due date</label>
            <input type="text" class="form-control" id="defer-current-due-date-field" value="" readonly="">
          </div>
          <div class="form-group">
            <label>Defer until</label>
            <input class="form-control datetimepicker" type="text" name="task[due_date]">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" onclick="$('#defer-task-form').submit()">Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Send Confirmation -->
<div class="modal modal-center fade" id="modal-send-confirmation" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation Message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag send_task_confirmation_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'send-confirmation-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="send-confirmation-task-id-field">
          <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" name="phonenumber" value="<%= @contact.phonenumbers.mobile.first.number unless @contact.phonenumbers.mobile.empty? %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal" onclick="$('#send-confirmation-form').submit()">Send</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Update Status -->
<div class="modal modal-center fade" id="update_status_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag admin_update_contact_status_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'update-sales-stage-form' do %>
        <input type="hidden" name="contact[sales_stage]" id="update-sales-stage-field" value="">
      <% end %>
      <div class="modal-body">
        <p>
          <button class="btn btn-block btn-bold btn-lead btn-lg" onclick="updateSalesStage('lead')">Lead</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-prospect btn-lg" onclick="updateSalesStage('prospect')">Prospect</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-customer btn-lg" onclick="updateSalesStage('customer')">Customer</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold border-danger text-danger btn-lg" onclick="updateSalesStage('archived')">Archive Contact</button>
        </p>
        <!-- 
        <p>
          <button class="btn btn-block btn-bold border-danger text-danger btn-lg" onclick="updateSalesStage('delete')">Delete Contact</button>
        </p>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: Add note to timeline -->
<div class="modal modal-center fade" id="modal-new-touchpoint" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New <strong>touchpoint</strong></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 mb-30">
            <h4>Send message</h4>
            <% if @contact.email.present? %>
              <div class="media-list media-list-hover media-list-divided b-1">
                <a id='new-send-email-touchpoint' class="media media-single" href="#">
                  <span class="lead text-info text-uppercase"><i class="fa fa-envelope"></i></span>
                  <span class="title"><strong><%= @contact.email %></strong></span>
                  <span class="lead text-info text-uppercase">Email </span><i class="fa fa-paper-plane text-info"></i>
                </a>
              </div>
            <% end %>
            <% if @contact.phonenumbers.present? && @contact.phonenumbers.first.phone_type == 'mobile' %>
              <div class="media-list media-list-hover media-list-divided b-1">
                <a id="new-message-touchpoint" class="media media-single" href="#">
                  <span class="lead text-info text-uppercase"><i class="fa fa-comment"></i></span>
                  <span class="title"><strong><%= @contact.phonenumbers.first.number %></strong></span>
                  <span class="lead text-info text-uppercase">Text </span><i class="fa fa-paper-plane text-info"></i>
                </a>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6">
            <h4>Log interaction</h4>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-phone-call-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="fa fa-phone text-info fs-14 pr-10"></i> <strong>Phone call</strong></span>
              </a>
            </div>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-meeting-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="ti-calendar text-info fs-14 pr-10"></i> <strong>Meeting</strong></span>
              </a>
            </div>
            <div class="media-list media-list-hover media-list-divided b-1">
              <a id='new-general-touchpoint' class="media media-single text-center" href="#">
                <span class="title text-uppercase"><i class="ti-notepad text-info fs-14 pr-10"></i> <strong>General</strong></span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL - Contact form modal -->
<%= render 'plugins/flexx_plugin_crm/common/contact_form_modal' %>