<header class="flexbox align-items-center p-12 pr-20 bg-lighter bb-1 border-light">
  <div class="media align-items-center p-0">
    <a href="#"><span class="avatar"><%= contact.initials %></span></a>
    <div class="media-body">
      <h6><a href="#"><%= contact.print_name %></a></h6>
    </div>    
  </div>
  <a id="expand_thread" href="#" class="fs-16 text-gray fullscreen-toggle">
    <i class="ti-fullscreen fullscreen-default"></i>
    <i class="fa fa-compress fullscreen-active"></i>
  </a>
</header>

<div class="scrollable flex-grow" id="conversations-thread-panel" data-provide="emoji" style="height: 500px; overflow-y: scroll;">
  <%= render partial: 'plugins/flexx_plugin_crm/contacts/conversations', locals: { messages: contact.messages.order(created_at: :asc) } %>
</div>

<footer class="publisher">
  <span class="avatar"><%= current_user.initials %></span>
  <%= form_tag create_text_blast_admin_messages_path(format: :js), method: :post, remote: true, authenticity_token: true, id: 'conversations-send-message-form', class: 'form-type-combine', style: 'width: 100%' do %>
    <input type="hidden" class="form-control" name="recipients" value="<%= contact.id %>">
    <input type="hidden" class="form-control" name="refresh_panel" value="conversations-thread-panel">
    <input name="body" style="width: 90%" id="conversations-text-message" class="publisher-input" rows="1" placeholder="Write something">
    <div class="gap-items btn-group pull-right mr-10 dropup">
      <%= render 'plugins/flexx_plugin_crm/admin/task_actions/dynamic_fields' %>
    </div>
  <% end %>
  <div class="gap-items">
    <a class="publisher-btn" id="conversations-text-button" href="#" onclick="$('#conversations-send-message-form').submit()"><i class="fa fa-paper-plane"></i></a>
  </div>
  <div class="gap-items">
    <div id="conversations-text-spinner" style="margin-left: 10px" class="spinner-circle-shadow hidden"></div>
  </div>
</footer>
