<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/conversations' %>
<% end %>

<aside class="aside aside-lg aside-expand-md">

  <div class="aside-body p-0">
    <header class="card-header">
      <h5 class="card-title text-center">
        <button class="btn btn-sm btn-bold btn-success btn-outline" data-toggle="quickview" data-target="#qv-new-text"><i class="ti-pencil-alt fs-14" style="position: relative; top: 2px;"></i> New</button>
      </h5>
      <ul class="card-controls">
        <% if current_site.messages.unread.count > 0 %>
          <li><span id="total-unread-label" data-total="<%= current_site.messages.unread.count %>" class="badge badge-warning"><%= current_site.messages.unread.count %> unread</span></li>
        <% end %>
      </ul>
    </header>
    <div class="media-list media-list-divided media-list-hover">

      <div class="media-list-header b-0">
        <% if @contact_ids.empty? %>
          <header class="media-list-header b-0">
            <p class="w-100 bb-1 border-light p-20 text-fade"><i>No current conversations</i></p>
          </header>
        <% else %>
          <!-- Search messages
          <header class="media-list-header b-0">
            <form class="lookup lookup-lg w-100 bb-1 border-light">
              <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..." data-provide="media-search">
            </form>
          </header>
          -->
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group form-type-combine b-0 mb-0">

                <label>Sort by</label>

                <div class="btn-group bootstrap-select form-control">
                  <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Newest" aria-expanded="false">
                    <span class="filter-option pull-left">Newest</span>
                    <span class="bs-caret"><span class="caret"></span></span>
                  </button>
                  <div class="dropdown-menu open" role="combobox" style="max-height: 219.2px; overflow: hidden; min-height: 0px; position: absolute; top: 26px; left: 0px; will-change: top, left;" x-placement="bottom-start">
                    <div class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 219.2px; overflow-y: auto; min-height: 0px;">
                      <a onclick="sortMe('#inbox-list', 'a', 'data-date', 'desc')" data-sort-conversation="Newest" class="dropdown-item selected">
                        <span tabindex="0" class="dropdown-item-inner " data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                          <span class="text">Newest</span>
                          <span class=" ti-check check-mark"></span>
                        </span>
                      </a>
                      <a onclick="sortMe('#inbox-list', 'a', 'data-unread', 'desc')" data-sort-conversation="Unread" class="dropdown-item">
                        <span tabindex="0" class="dropdown-item-inner " data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                          <span class="text">Unread</span>
                          <span class=" ti-check check-mark"></span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-type-combine b-0 mb-0">
                <label for="">Filter</label>
                <button id="filter-unanswered" class="btn btn-xs btn-info btn-outline" data-toggle="button" aria-pressed="false" autocomplete="off">Show Unanswered</button>
              </div>
            </div>          
        <% end %>
      </div>

      <div id="inbox-list" class="media-list-body">
        <%= render partial: 'inbox_list' %>
      </div>

    </div>

  </div>

  <button class="aside-toggler"></button>
</aside>

<div class="main-content">
  <div id="loading-thread" class="center-h" style="display: none">
    <div class="spinner-dots">
      <span class="dot1"></span>
      <span class="dot2"></span>
      <span class="dot3"></span>
    </div>
  </div>
  <div id="thread-body" class="card card-bordered flex-column">
    <% if @contact_ids.empty? %>
      <div class="media flex-column text-center p-40 b-2 border-info">
        <span class="avatar avatar-xxl bg-info opacity-60 mx-auto">
          <i class="ti-info-alt fs-35 align-sub"></i>
        </span>
        <div class="text-center">
          <h5 class="text-uppercase fw-500 mt-3 text-info">No conversations found.</h5>
          <small class="fs-14">Start a <a data-toggle="quickview" data-target="#qv-new-text" href="#qv-new-text" class="text-success">new conversation</a> now!</small>
        </div>
      </div>
    <% else %>
      <%= render partial: 'message_thread', locals: { contact: @first_contact } %>
    <% end %>
  </div>
</div>

<!-- QUICKVIEW - New text -->
<div id="qv-new-text" class="quickview quickview-xl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Text Message</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>
  <%= form_tag create_text_admin_messages_path(format: :js), method: :post, remote: true, authenticity_token: true, id: 'conversations-send-new-message-form', class: 'quickview-block form-type-combine' do %>
    <div class="quickview-body">
      <input type="hidden" class="form-control" name="refresh_panel" value="conversations-new-message-panel">
      <div class="card-body">
        <div class="input-group">
          <div class="input-group-input">
            <label>To</label>
            <input class="form-control" type="text" id="contacts-field" placeholder="Start typing name...">
            <input type="hidden" name="recipients" id="new-conversation-contact-id">
          </div>
        </div>

        <div class="form-groups-attached">
          <div class="publisher publisher-multi bg-transparent b-1 form-group">
            <label>Message</label>
            <textarea name="body" id="conversations-text-new-message" class="publisher-input auto-expand" rows="6" maxlength="320" data-provide="maxlength" data-alwaysShow="true"></textarea>
            <% if @snippets.present? %>
              <div class="flexbox">
                <div class="gap-items">
                  <button type="button" class="publisher-btn" data-toggle="modal" data-target="#modal-snippet"><i class="ti-receipt"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <footer class="quickview-footer flex-row-reverse">
    <button id="conversations-text-new-send-button" class="btn btn-success" onclick="$('#conversations-send-new-message-form').submit()">Send</button>
    <button id="conversations-text-new-cancel-button" class="btn btn-danger" type="reset">Cancel</button>
    <div class="gap-items">
      <div id="conversations-text-new-spinner" style="margin-left: 10px" class="spinner-circle-shadow hidden"></div>
    </div>
  </footer>
</div>

<!-- Modal: Text Snippets -->
<div class="modal modal-center fade" id="modal-snippet" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Text snippets</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">
          <% @snippets.each do |row| %>
            <div class="media media-single">
              <div class="media-body">
                <h6><a href="#" data-dismiss="modal" onclick="$('#conversations-text-new-message').val('<%= escape_javascript("{{ #{row.label} }}") %>')"><%= row.name %></a></h6>
                <p class="text-fader text-truncate"><%= row.contents %></p>
              </div>
              <div class="media-right">
                <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#" data-dismiss="modal" onclick="$('#conversations-text-new-message').val('<%= escape_javascript("{{ #{row.label} }}") %>')">Add</a>
              </div>
            </div>
          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
