<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/conversations' %>
<% end %>

<aside class="aside aside-lg aside-expand-lg">

  <div class="aside-body p-0">
    <header class="card-header">
      <h5 class="card-title">Text Messages</h5>
      <ul class="card-controls">
        <% if current_site.messages.unread.count > 0 %>
          <li><span id="total-unread-label" data-total="<%= current_site.messages.unread.count %>" class="badge badge-warning"><%= current_site.messages.unread.count %> unread</span></li>
        <% end %>
      </ul>
    </header>
    <div class="media-list media-list-divided media-list-hover">

      <!--
      <header class="media-list-header b-0">
        <form class="lookup lookup-lg w-100 bb-1 border-light">
          <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..." data-provide="media-search">
        </form>
      </header>
      -->

      <div class="media-list-header b-0">
        <div class="form-group form-type-combine b-0">

          <label>Sort by</label>

          <div class="btn-group bootstrap-select form-control">
            <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Newest" aria-expanded="false">
              <span class="filter-option pull-left">Newest</span>
              <span class="bs-caret"><span class="caret"></span></span>
            </button>
            <div class="dropdown-menu open" role="combobox" style="max-height: 219.2px; overflow: hidden; min-height: 0px; position: absolute; top: 26px; left: 0px; will-change: top, left;" x-placement="bottom-start">
              <div class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 219.2px; overflow-y: auto; min-height: 0px;">
              <a onclick="sortMe('#inbox-list', 'a', 'data-date', 'desc')" class="dropdown-item selected">
                <span tabindex="0" class="dropdown-item-inner " data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                  <span class="text">Newest</span>
                  <span class=" ti-check check-mark"></span>
                </span>
              </a>
              <a onclick="sortMe('#inbox-list', 'a', 'data-unread', 'desc')" class="dropdown-item">
                <span tabindex="0" class="dropdown-item-inner " data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                  <span class="text">Unread</span>
                  <span class=" ti-check check-mark"></span>
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="inbox-list" class="media-list-body">
        <%= render partial: 'inbox_list' %>
      </div>

    </div>

  </div>

  <button class="aside-toggler"></button>
</aside>

<header class="header">
  <%= render 'next/partials/breadcrumb', link: '/admin/next/contacts', page: 'CRM' %>
  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>SMS</strong> Conversations</h2>
    </div>
  </div>


  <div class="header-action">
    <!--
    <nav class="nav">
      <a class="nav-link" href="/admin/next/conversations-email">Email <small>(2)</small></a>
      <a class="nav-link active" href="/admin/next/conversations-text">SMS</a>
    </nav>
    -->
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="modal" href="#modal-new-sms"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div id="loading-thread" class="center-h" style="display: none">
    <div class="spinner-dots">
      <span class="dot1"></span>
      <span class="dot2"></span>
      <span class="dot3"></span>
    </div>
  </div>
  <div id="thread-body" class="card card-bordered flex-column">
    <%= render partial: 'message_thread', locals: { contact: @first_contact } %>
  </div>
</div>

<!-- QUICKVIEW - New text -->
<div id="qv-new-text" class="quickview quickview-xl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Text Message</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <form class="quickview-block form-type-combine">

      <div class="card-body">
        <div class="input-group">
          <div class="input-group-input">
            <label>To</label>
            <input class="form-control" type="text" id="typeahead-contacts" placeholder="Start typing name...">
          </div>
          <span class="input-group-append">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#search_contacts_modal"><i class="ti-search"></i></button>
          </span>
        </div>

        <div class="form-groups-attached">

          <div class="publisher publisher-multi bg-transparent b-1 form-group">
            <label>Message</label>
            <textarea class="publisher-input auto-expand" rows="6" maxlength="320" data-provide="maxlength" data-alwaysShow="true"></textarea>
            <div class="flexbox">
              <div class="gap-items">
                <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span>
                <button type="button" class="publisher-btn" data-toggle="modal" data-target="#modal-snippet"><i class="ti-receipt"></i></button>
                <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
              </div>

            </div>
          </div>

        </div>

      </div>

    </form>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-success" type="submit">Send</button>
    <button class="btn btn-danger" type="reset">Cancel</button>
  </footer>
</div>

<!-- Modal: Text Snippets -->
<div class="modal modal-center fade" id="modal-snippet" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Text snippets</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">
          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

          <div class="media media-single">
            <div class="media-body">
              <h6><a href="#">Snippet title</a></h6>
              <p class="text-fader text-truncate">The beginning of the snippet. Co-Foundera sdkfasdnfas dfblkh jabsdhkbfkhasb vdfhkaskl dfakshdvfa,sdfasdasjdf jdfh</p>
            </div>
            <div class="media-right">
              <a class="btn btn-sm btn-bold btn-round btn-outline btn-primary w-100px" href="#">Add</a>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: Send text -->
<div class="modal modal-center fade" id="modal-new-sms" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send Text</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" class="quickview-block form-type-combine">
        <div class="modal-body">
          <label>Contact Name</label>
          <input class="form-control" type="text" id="contacts-field" placeholder="Start typing name...">
          <input type="hidden" name="task[contact_id]" id="new-task-contact-id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>
