<% current_month = nil %>
<% emails.each do |email| %>
  <% email_month = email.status == "draft" ? email.created_at.strftime('%B %Y') : email.send_at.strftime('%B %Y') %>
  <% if current_month != email_month %>
    <% if current_month %>
      </div>
    <% end %>
    <div class="media-list media-list-divided media-list-hover">
      <h5 class="card-title text-right text-fade"><strong><%= email_month %></strong></h5>
      <% current_month = email_month %>
    <% end %>

    <% labels = recipients_to_labels(email.recipients_list) %>
    <% if email.status == "scheduled" %>
      <a class="media" data-toggle="modal" href="#modal-center">
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p><span class="text-cyan fw-400" style="padding-right:8px;"><i class="ti-time" style="padding-right:3px;"></i> Scheduled</span><%= email.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <%= render partial: "labels", object: labels %>
        </div>
      </a>
    <% elsif email.status == "sent" %>
      <a class="media" data-toggle="quickview" href="#qv-email-report-<%= email.id %>">
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span><%= email.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <%= render partial: "labels", object: labels %>
        </div>

        <div class="text-center d-none d-sm-block">
          <div data-provide="easypie" data-percent="<%= email.recipients_count == 0 ? 0 : ((email.opened_count.to_f/email.recipients_count.to_f)*100).round %>" data-color="#926dde" data-scale-color="transparent" data-size="100">
            <span class="easypie-data">
              <h4 class="text-purple mb-0"><%= email.opened_count %></h4>
              <small class="text-uppercase">opened</small>
            </span>
          </div>
        </div>
      </a>
    <% elsif email.status == "draft" %>
      <a class="media" data-toggle="modal" href="#modal-center">
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p>
          <span class="text-warning fw-400" style="padding-right:8px;"><i class="ti-write" style="padding-right:3px;"></i> Draft</span>
          <% if email.created_at == email.updated_at %>
            <small class="text-uppercase">Created</small> <%= email.created_at.strftime('%A %b %-d, %I:%M %P') %>
        <% else %>
          <small class="text-uppercase">Updated</small> <%= email.updated_at.strftime('%A %b %-d, %I:%M %P') %>
      <% end %>
          </p>
        </div>
      </a>
    <% end %>

<% end %>

</div>
