<% current_month = nil %>
<% emails.each do |email| %>
  <% email_month = email.draft? ? email.created_at.strftime('%B %Y') : (email.send_at && email.send_at.strftime('%B %Y')) %>
  <% if current_month != email_month %>
    <% if current_month %>
      </div>
    <% end %>
    <div class="media-list media-list-divided media-list-hover">
      <h5 class="card-title text-right text-fade"><strong><%= email_month %></strong></h5>
      <% current_month = email_month %>
    <% end %>

    <% if email.scheduled? %>
      <!--<a class="media" data-toggle="modal" href="#">-->
      <%= link_to edit_email_admin_message_path(email), class: 'media' do %>
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p><span class="text-cyan fw-400" style="padding-right:8px;"><i class="ti-time" style="padding-right:3px;"></i> Scheduled</span><%= email.send_at && email.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <p class="d-none d-sm-block">
            <span><small>To:</small></span>
            <%= render partial: "labels", object: email.recipients_label if email.recipients_label %>
          </p>
        </div>
        <span class="d-block d-sm-none" style="line-height: 73px;">
          <i class="ti-angle-double-right text-lighter"></i>
        </span>
        <div class="mr-25 d-none d-sm-block">
          <small class="text-lighter fw-300 text-uppercase" style="line-height: 73px;">
            click to <span class="badge badge-warning">edit</span>
          </small>
        </div>
      <% end %>
    <% elsif email.sent? %>
      <a class="media" data-toggle="quickview" href="#qv-email-report-<%= email.id %>">
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span><%= email.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <p class="d-none d-sm-block">
            <span><small>To:</small></span>
            <%= render partial: "labels", object: email.recipients_label if email.recipients_label %>
          </p>
        </div>

        <span class="d-block d-sm-none" style="line-height: 73px;">
          <i class="ti-pie-chart text-lighter"></i>
        </span>

        <div class="text-center d-none d-sm-block">
          <div data-provide="easypie" data-percent="<%= email.recipients_count == 0 ? 0 : ((email.opened_count.to_f/email.recipients_count.to_f)*100).round %>" data-color="#926dde" data-scale-color="transparent" data-size="100">
            <span class="easypie-data">
              <h4 class="text-purple mb-0"><%= email.opened_count %></h4>
              <small class="text-uppercase">opened</small>
            </span>
          </div>
        </div>
      </a>
    <% elsif email.sending? %>
      <div class="media">
        <div class="media-body">
          <h5><%= email.subject %></h5>
          <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sending</span><%= email.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <p class="d-none d-sm-block">
            <span><small>To:</small></span>
            <%= render partial: "labels", object: email.recipients_label if email.recipients_label %>
          </p>
        </div>
      </div>
    <% end %>

<% end %>

</div>
