<div id="qv-email-report-<%= email.id %>" class="quickview quickview-xxl backdrop-dark" data-fullscreen-on-mobile>
  <header class="quickview-header">
    <p class="quickview-title lead"><strong>Email</strong> Report</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <div class="row m-0 bb-1">
      <div class="col-sm-6 p-0 bg-success">
        <p class="mb-0 text-center py-10 px-15 text-white text-uppercase fs-16"><strong>Sent</strong></p>
      </div>
      <div class="col-sm-6">
        <p class="mb-0 text-center py-10 px-15">Date: <strong><%= email.send_at.strftime("%a, %b %d, %Y %I:%M %P") %></strong></p>
      </div>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link py-10 active" data-toggle="tab" href="#tab-email-report-overview-<%= email.id %>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-10" data-toggle="tab" href="#tab-email-report-message-<%= email.id %>">Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-10" data-toggle="tab" href="#tab-email-report-recipients-<%= email.id %>">Recipients</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" id="tab-email-report-overview-<%= email.id %>">
        <div class="row m-0">
          <div class="col-12">
            <h5 class="card-title">
              <span class="pr-10 fw-400">Sent to:</span>
              <%= render partial: "labels", object: email.recipients_label if email.recipients_label %>
            </h5>
          </div>

          <% opened_percent = email.recipients_count == 0 ? 0 : ((email.opened_count.to_f/email.recipients_count.to_f)*100).round %>
          <div class="col-6 p-15 d-block d-sm-none">
            <div class="text-center">
              <div data-provide="easypie" data-percent="<%= opened_percent %>" data-color="#926dde" data-scale-color="transparent" data-size="125">
                <span class="easypie-data">
                  <h4 class="text-purple mb-0"><%= opened_percent %>%</h4>
                  <small class="text-uppercase">opened</small>
                </span>
              </div>
            </div>
          </div>

          <div class="col-6 p-15 d-block d-sm-none">
            <div class="card card-body text-center">
              <div>Sent To</div>
              <div class="fs-40 fw-100"><%= email.recipients_count %></div>
            </div>
          </div>

          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-info"><%= email.opened_count %></div>
              <div>Opened</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-success"><%= email.clicked_count %></div>
              <div>Clicked</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-danger"><%= email.bounced_count %></div>
              <div>Bounced</div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card card-body text-center">
              <div class="fs-40 fw-100 text-warning"><%= email.unsubscribed_count %></div>
              <div>Unsubscribed</div>
            </div>
          </div>

          <%# <div class="col-12-p-0"> %>
          <%#   <div class="card"> %>
          <%#     <h4 class="card-title"><strong>Performance</strong> in 24-hours</h4> %>

          <%#     <div class="card-body"> %>
          <%#       <p class="text-danger fs-20">Would like a line chart here with hour by hour breakdown of openings from time of sending to 24 hours later</p> %>
          <%#       <!-- <canvas id="chart-line-2" width="400" height="250"></canvas> --> %>
          <%#     </div> %>
          <%#   </div> %>
          <%# </div> %>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-email-report-message-<%= email.id %>">
        <div class="card">
          <div class="card-body">
            <%= raw email.body %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-email-report-recipients-<%= email.id %>">
        <div class="card">          

          <div class="media-list media-list-divided media-list-hover">
            <header class="media-list-header b-0">
              <form class="lookup lookup-lg w-100 bb-1 border-light">
                <input class="w-100 no-radius no-border py-30" type="text" placeholder="Type name..." data-provide="media-search">
              </form>
            </header>
            <div class="media-list-body">
              <% email.email_recipients.each do |recipient| %>
                <div class="media media-single">
                  <div class="media-body">
                    <%# TODO: Find the contact based on email and site_id %>
                    <span class="avatar avatar-sm"><%= recipient.contact_id.present? ? recipient.contact.initials : "#{recipient.to[0]}#{recipient.to[1]}" %></span>
                    <span><%= recipient.contact_id.present? ? recipient.contact.print_name : recipient.to %></span>
                  </div>
                  <div class="media-right">
                    <% if recipient.status == 'open' %>
                      <span class="btn btn-sm btn-bold btn-round btn-info w-100px">Opened</span>
                    <% elsif recipient.status == 'click' %>
                      <span class="btn btn-sm btn-bold btn-round btn-success w-100px">Clicked</span>
                    <% elsif recipient.status == 'delivered' %>
                      <span class="btn btn-sm btn-bold btn-round btn-outline btn-secondary w-100px text-fade">Delivered</span>
                    <% elsif recipient.status == 'unsubscribe' %>
                      <span class="btn btn-sm btn-bold btn-round btn-warning w-100px">Unsubscribed</span>
                    <% elsif recipient.status == 'bounced' %>
                      <span class="btn btn-sm btn-bold btn-round btn-danger w-100px">Bounced</span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <footer class="quickview-footer flex-row-reverse">
    <!-- <button class="btn btn-info">Replicate</button> -->
  </footer>
</div>

