<% current_month = nil %>
<% sms.each do |s| %>
  <% sms_month = s.draft? ? s.created_at.strftime('%B %Y') : s.send_at.strftime('%B %Y') %>
  <% if current_month != sms_month %>
    <% if current_month %>
      </div>
    <% end %>
    <div class="media-list media-list-divided media-list-hover">
      <h5 class="card-title text-right text-fade"><strong><%= sms_month %></strong></h5>
      <% current_month = sms_month %>
    <% end %>

    <% if s.scheduled? || s.sending? %>
      <a class="media" data-toggle="modal" href="#">
        <div class="media-body">
          <h5><%= s.message %></h5>
          <p><span class="text-cyan fw-400" style="padding-right:8px;"><i class="ti-time" style="padding-right:3px;"></i> Scheduled</span><%= s.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <p class="d-none d-sm-block">
            <span><small>To:</small></span>
            <%= render partial: "labels", object: s.recipients_label if s.recipients_label %>
          </p>
        </div>
      </a>
    <% elsif s.sent? %>
      <a class="media" data-toggle="quickview" href="#qv-sms-report-<%= s.id %>">
        <div class="media-body">
          <h5><%= s.message %></h5>
          <p><span class="text-success fw-400" style="padding-right:8px;"><i class="fa fa-paper-plane" style="padding-right:3px;"></i> Sent</span><%= s.send_at.strftime('%A %b %-d, %I:%M %P') %></p>
          <p class="d-none d-sm-block">
            <span><small>To:</small></span>
            <%= render partial: "labels", object: s.recipients_label if s.recipients_label %>
          </p>
        </div>
      </a>
    <% elsif s.draft? %>
      <a class="media" data-toggle="modal" href="#">
        <div class="media-body">
          <h5><%= s.message %></h5>
          <p>
          <span class="text-warning fw-400" style="padding-right:8px;"><i class="ti-write" style="padding-right:3px;"></i> Draft</span>
          <% if s.created_at == s.updated_at %>
            <small class="text-uppercase">Created</small> <%= s.created_at.strftime('%A %b %-d, %I:%M %P') %>
        <% else %>
          <small class="text-uppercase">Updated</small> <%= s.updated_at.strftime('%A %b %-d, %I:%M %P') %>
      <% end %>
          </p>
        </div>
      </a>
    <% end %>

<% end %>

</div>
