<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/dashboard' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/vendors/jstz.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/vendors/js.cookie' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Cookies.set('timezone', jstz.determine().name());
  })
</script>

<div class="main-content">

  <div class="row">

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="flexbox">
            <h5>Tasks</h5>
            <span class="float-right"><a class="btn btn-xs btn-primary" href="/admin/next/tasks">View</a></span>
          </div>

          <div class="text-center my-2">
            <div class="fs-60 fw-400 text-info"><%= @todays_tasks.count %></div>
            <span class="fw-400 text-muted">Due Today</span>
          </div>
        </div>

        <div class="card-body bg-lighter fw-400 py-12">
          <span class="text-muted mr-1">Completed:</span>
          <span class="text-dark"><%= @todays_completed_tasks.count %></span>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">EMPTY</h4>
          <a class="btn btn-sm btn-flat btn-info" href="#">Add Widget</a>
        </header>

        <div class="card-body">
          <p>Click the "Add Widget" button to select from the widget options.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">EMPTY</h4>
          <a class="btn btn-sm btn-flat btn-info" href="#">Add Widget</a>
        </header>

        <div class="card-body">
          <p>Click the "Add Widget" button to select from the widget options.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">EMPTY</h4>
          <a class="btn btn-sm btn-flat btn-info" href="#">Add Widget</a>
        </header>

        <div class="card-body">
          <p>Click the "Add Widget" button to select from the widget options.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h5 class="card-title"><strong>Recent</strong> contacts</h5>

        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 275px">
          <% @active_contacts.order('created_at DESC').each do |contact| %>
            <div class="media media-single">
              <% if contact.created_at > 24.hours.ago %>
                <i class="fa fa-bolt text-yellow"></i>
              <% end %>
              <a href="<%= admin_contact_path(contact.id) %>">
                <span class="avatar avatar-lg"><%= contact.initials %></span>
              </a>

              <div class="media-body">
                <h6><%= contact.print_name %></h6>
                <% if contact.source.include? "Form" %>
                  <small class="text-fader"><a href="#" data-from-form="<%= contact.id %>" class="text-blue"><%= contact.source %></a></small>
                <% end %>
              </div>

              <div class="media-right">
                <a class="btn btn-sm btn-bold btn-round btn-outline btn-secondary w-100px" href="<%= admin_contact_path(contact.id) %>">View</a>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center bt-1 border-light p-2">
          <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="/admin/next/contacts">View all contacts</a>
        </div>
      </div>
    </div>



    <div class="col-12">
      <div class="divider text-uppercase fw-500">Analytics</div>
    </div>

  </div>
</div>

<!-- MODAL - Contact form modal -->
<div class="modal fade" id="contact_form_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Form Details</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
