<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/dashboard' %>
<% end %>

<div class="main-content">

  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <h5 class="card-title">Recent <strong>activity</strong></h5>

        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 275px">
          <% @system_feed.each do |f| %>
            <div class="media media-single">
              <span class="avatar bg-success"><i class="ti-user"></i></span>
              <div class="media-body">
                <p><%= f.message %></p>
                <time><%= time_ago_in_words(f.time) %> ago</time>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center bt-1 border-light p-2 px-20 flexbox">
          <div>
            <a href="#" class="text-uppercase d-block fs-10 fw-500 ls-1">See all activity</a>
          </div>
          <div>
            <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
            <a href="#" data-provide="tooltip" title="Settings"><i qclass="fa fa-gear"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="flexbox">
            <h5>Tasks</h5>
            <span class="float-right"><a class="btn btn-xs btn-primary" href="/admin/next/tasks">View</a></span>
          </div>

          <div class="text-center my-2">
            <div class="fs-60 fw-400 text-info"><%= @todays_tasks.count %></div>
            <span class="fw-400 text-muted">Due Today</span>
          </div>
        </div>

        <div class="card-body bg-lighter fw-400 py-12">
          <span class="text-muted mr-1">Completed:</span>
          <span class="text-dark"><%= @todays_completed_tasks.count %></span>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h5 class="card-title">New <strong>contacts</strong></h5>

        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 275px">
          <% if @active_contacts.where('created_at >= ?', 1.week.ago).count > 0 %>
            <% @active_contacts.where('created_at >= ?', 1.week.ago).order('unarchived_at, created_at DESC').each do |contact| %>
              <div class="media media-single">
                <% if contact.created_at > 24.hours.ago %>
                  <i class="fa fa-bolt text-yellow"></i>
                <% elsif contact.unarchived_at && contact.unarchived_at > 24.hours.ago %>
                  <i class="fa fa-bolt text-primary"></i>
                <% end %>
                <a href="<%= admin_contact_path(contact.id) %>">
                  <span class="avatar avatar-lg"><%= contact.initials %></span>
                </a>

                <div class="media-body">
                  <h6><%= contact.print_name %></h6>
                  <% if contact.cama_contact_form && contact.cama_contact_form.parent %>
                    <small class="text-fader">
                      <a href="#" data-from-form="<%= contact.cama_contact_form.id %>" class="text-blue">
                        <%= "Form - #{contact.cama_contact_form.parent.name}" %>
                      </a>
                    </small>
                  <% else %> 
                    <small class="text-fader">Manually entered by <strong><%= current_site.users.find_by(id: contact.created_by).print_name %></strong></small>
                  <% end %>
                </div>

                <div class="media-right">
                  <a class="btn btn-sm btn-bold btn-round btn-outline btn-secondary" href="<%= admin_contact_path(contact.id) %>"><i class="ti-arrow-right"></i></a>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="center-vh h-275px">
              <p>No new contacts in last 7 days</p>
            </div>
          <% end %>
        </div>
        <div class="text-center bt-1 border-light p-2">
          <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="/admin/next/contacts">View all contacts</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h5 class="card-title"><strong>Recent</strong> forms</h5>
        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 316px">
          <% @forms_completed.each do |f| %>
            <div class="media media-single">
              <% if f.created_at > 24.hours.ago %>
                <i class="fa fa-bolt text-yellow"></i>
              <% end %>
              <div class="media-body">
                <a href="<%= admin_contact_path(f.contact.id) %>"><h6 class="mb-0"><%= f.contact.print_name %></h6></a>
                <small class="text-fader"><%= f.parent.name %> - <%= f.created_at.strftime '%m/%d/%Y' %></small>
              </div>

              <div class="media-right">
                <a class="btn btn-sm btn-bold btn-round btn-outline btn-secondary" href="#" data-from-form="<%= f.id %>">View</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="divider text-uppercase fw-500">Analytics</div>
    </div>

  </div>
</div>

<!-- MODAL - Contact form modal -->
<%= render 'plugins/flexx_plugin_crm/common/contact_form_modal' %>