<% if task.contact.phonenumbers.mobile.empty? %>
  <div class="media flex-column text-center p-40 b-2 border-warning">
    <span class="avatar avatar-xxl bg-warning opacity-60 mx-auto">
      <i class="ti-info-alt fs-35 align-sub"></i>
    </span>
    <div class="text-center">
      <h5 class="text-uppercase fw-500 mt-3 text-warning">Uh oh!</h6>
      <small class="fs-14">You cannot complete this task because the contact does not have a mobile number in their account.<br>Go to <a href="<%= admin_contact_path(task.contact.id) %>"><%= task.contact.print_name %>'s profile</a> and add a mobile number.</small>
    </div>
  </div>
<% else %>
  <div class="publisher publisher-multi bg-transparent b-1 mb-0">
    <%= form_tag create_message_admin_messages_path(format: :js), method: :post, remote: true, authenticity_token: true, id: 'task-send-message-form', class: 'quickview-block form-type-combine' do %>
      <input type="hidden" class="form-control" name="message[contact_id]" value="<%= task.contact.id %>">
      <input type="hidden" class="form-control" name="message[task_id]" value="<%= task.id %>">
      <input type="hidden" class="form-control" name="refresh_panel" value="task-panel">      
      <div class="publisher publisher-multi">
        <img class="publisher-avatar avatar avatar-md" src="<%= current_site.get_option("icon") %>" alt="...">
        <label for="textarea" class="pl-10">SMS Message</label>
        <textarea name="message[body]" id="task-send-text-message" class="publisher-input auto-expand w-100 pt-10" rows="6" maxlength="320" data-provide="maxlength" data-alwaysShow="true" placeholder="Type message here..."></textarea>
        <div style="text-align: right;"><%= render 'plugins/flexx_plugin_crm/admin/task_actions/dynamic_fields' %></div>
      </div>
    <% end %>
    <!--<div class="flexbox">
      <button class="btn btn-sm btn-bold btn-primary" id="task-send-text-button" onclick="submitTaskSendMessageForm()">Send</button>
      <div id="task-send-text-spinner" class="spinner-circle-shadow hidden"></div>
    </div>
    -->
  </div>
<% end %>

<script>
$('#task-send-message-form').validator().on('submit', function (e) {
  if (e.isDefaultPrevented()) {
    e.preventDefault();
    e.stopPropagation();
  }
  else {
    completeTask();
  }
});
</script>