<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/recipes' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $("#stock-email-select").hide();

    // Temporarily hiding select field for stock email until the function exists
    // $("#type-select").on('click change', function(e) {
    //   if (this.value == 'email') {
    //     $("#stock-email-select").show();
    //   } else {
    //     $("#stock-email-select").hide();
    //   }
    // });
  });
</script>

<header class="header">
  <div class="header-bar header-inverse bg-info">
    <a href="/admin/next/recipes" style="color: #fff;"><i class="ti-arrow-left"></i> Back to recipes list</a>
    <p class="fs-16">Recipe details</p>
  </div>

  <div class="header-info">
    <div class="left">
      <h2 class="header-title">
        <strong><%= @task_recipe.title %></strong> recipe
        <small class="subtitle"><%= @task_recipe.description %></small>
      </h2>
    </div>
  </div>

  <div id="recipe-header-actions" class="header-action">
    <%= render partial: 'header_actions' %>
  </div>
</header>

<div class="main-content">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title"><strong>Directions</strong></h4>
        <ol id="recipe-directions-panel" class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
          <%= render partial: 'directions' %>
        </ol>
        <div class="card-footer text-center">
          <div class="fab">
            <button id="new-recipe-direction-add-button" class="btn btn-float" title="Add new step" data-provide="tooltip" data-placement="top"><i class="ti-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="new-recipe-direction-panel">
      <div class="card">
        <h4 class="card-title"><strong>New step</strong></h4>
        <%= form_tag admin_recipe_create_direction_path(recipe_id: @task_recipe.id, format: :js), method: :post, remote: true, authenticity_token: true, name: 'recipeStep', id: 'new-recipe-direction-form', class: 'form-type-combine' do %>
          <div class="card-body">
            <div class="form-group">
              <label for="select">Type</label>
              <select id="type-select" class="form-control" name="task_recipe_direction[task_type]">
                <option value="phone_call">Phone call</option>
                <option value="email">Email</option>
                <option value="message">Text</option>
                <option value="meeting">Meeting</option>
                <option value="general">General</option>
              </select>
            </div>

            <h6 class="text-light fw-300">Timing</h6>
            <div class="no-border text-center">
              <div class="btn-group" data-toggle="buttons">
                <button class="btn btn-lg btn-info" id="new-recipe-direction-immediate-button">Immediate</button>
                <button class="btn btn-lg" id="new-recipe-direction-schedule-button">Schedule</button>
              </div>
            </div>

            <div id="new-recipe-direction-timming-panel" class="form-groups-attached" style="display: none">
              <br/>
              <div class="row">
                <div class="form-group col-6">
                  <label>After</label>
                  <input class="form-control" type="text" name="task_recipe_direction[due_on_value]">
                </div>

                <div class="form-group col-6">
                  <label for="select">Time unit</label>
                  <select class="form-control" name="task_recipe_direction[due_on_unit]">
                    <option value="minutes">minute(s)</option>
                    <option value="hours">hour(s)</option>
                    <option value="days">day(s)</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <h6 class="text-light fw-300">Details</h6>
            <div class="form-groups-attached">

              <div class="form-group">
                <label>Title for reference</label>
                <input class="form-control" type="text" name="task_recipe_direction[title]">
              </div>

              <div id="stock-email-select" class="form-group">
                <label>Use stock email</label>
                <select id="stock-email-select-field" class="form-control" data-provide="selectpicker">
                  <option>None</option>
                  <% rich_text_stocks.each_with_index do |row, i| %>
                    <option value="<%= i %>"><%= row.name %></option>
                  <% end %>
                </select>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="6" name="task_recipe_direction[details]"></textarea>
              </div>

            </div>
          </div>
        <% end %>
        <footer class="card-footer modal-footer text-right">
          <div id="new-recipe-direction-spinner" class="spinner-circle-shadow hidden"></div>
          <button class="btn btn-secondary" id="new-recipe-direction-cancel" onclick="clearNewRecipeDirectionForm()">Cancel</button>
          <button class="btn btn-primary" id="new-recipe-direction-add" onclick="addNewRecipeDirection()">Add</button>
        </footer>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h4 class="card-title"><strong>Associated forms</strong> (optional)</h4>

        <div class="card-body form-type-combine">
          <div class="row">
            <div class="col-md-6">
              <p>Use the list on the right to select forms associated with the recipe. Any site visitor submitting that form will have the tasks on this list automatically applied.</p>
            </div>
            <div class="col-md-6">
              <hr class="d-md-none">
              <div class="form-group">
                <h5>Forms</h5>
                <%= form_tag admin_associate_recipe_to_form_path(id: @task_recipe.id, format: :js), method: :post, remote: true, id: 'update-recipe-form', class: 'form-type-combine' do %>
                  <select id="update-recipe-associated-forms" name="task_recipe[cama_contact_form_ids][]" data-provide="selectpicker" data-width="100%" multiple title="Choose one or more forms...">
                    <%= options_from_collection_for_select(@available_contact_forms, 'id', 'name', @task_recipe.cama_contact_form_ids) %>
                  </select>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
