<header class="quickview-header">
  <p class="quickview-title lead"><strong><%= @task_recipe.title %></strong></p>
  <span class="close"><i class="ti-close"></i></span>
</header>

<div class="quickview-body">
  <div class="quickview-block">
    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
      <% @task_recipe.ordered_directions.each do |direction| %>
        <li class="timeline-block">
          <div class="timeline-point">
            <span class="badge badge-ring badge-primary"></span>
          </div>
          <div class="timeline-content">
            <time datetime="2018"><%= distance_of_time_in_words(Time.now, Time.now + direction.due_on_value.send(direction.due_on_unit)) %></time>
            <p><%= direction.task_type.humanize %></p>
            <%= direction.title %>
            <br/><%= direction.details %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<footer class="quickview-footer">
  <a href="<%= admin_recipe_path(@task_recipe.id) %>" class="btn btn-primary">Edit</a>
  <button class="btn btn-secondary" data-dismiss="quickview">Close</button>
</footer>
