<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
<% end %>

<style>
  @media (max-width: 576px) {
    #contact_list .media-body h6 small { display: none; }
    #contact_list .media-body h6 { font-size: 15px; }

    .header .right { display: none; }
  }

  .bootstrap-tagsinput { display: block; }
</style>

<header class="header">
  <div class="header-info">
    <div class="left">
      <h2 class="header-title">Your <strong>Contacts</strong></h2>
    </div>
    <div class="right gap-items-2">
      <a class="btn btn-secondary btn-square btn-round" href="#" data-provide="tooltip" title="Import Contacts"><i class="ti-import"></i></a>
      <a class="btn btn-secondary btn-square btn-round" href="#" data-provide="tooltip" title="Export Contacts"><i class="ti-export"></i></a>
    </div>
  </div>
  <div class="header-action">
    <div class="buttons">

      <button class="btn btn-primary btn-float" data-toggle="quickview" href="#qv_new_contact"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="card card-shadowed">
    <form class="lookup lookup-huge">
      <input class="no-radius no-border" type="text" placeholder="Try searching for names, tags...">
    </form>
  </div>

  <div id="contact_list" class="media-list media-list-divided media-list-hover">

    <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16">
      <div class="flexbox align-items-center">

        <span class="divider-line mx-1"></span>

        <div class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-name', 'asc')">Name</a>
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-added-on', 'desc')">Newest</a>
            <a class="dropdown-item" href="#" onclick="sortMe('#contact-list', 'div', 'data-added-on', 'asc')">Oldest</a>
          </div>
        </div>
      </div>
    </header>

    <div id="contact-list" class="media-list-body bg-white b-1">
      <% @active_contacts.each do |contact| %>
        <div class="media align-items-center" data-name="<%= contact.print_name %>" data-added-on="<%= contact.created_at.to_i %>">
          <a class="flexbox align-items-center flex-grow gap-items" href="<%= admin_plugins_flexx_plugin_crm_view_contact_path(contact.id) %>">
            <span class="avatar avatar-lg status-success bg-dark"><%= contact.initials %></span>
            <div class="media-body text-truncate">
              <h6><%= contact.print_name %><small>&nbsp;<em>Added on <%= contact.created_at.strftime('%d %B %Y') %></em></small></h6>
              <small class="contact-detail">
                <span>Last activity: </span>
                <time datetime="2018-07-14 20:00">*** TO BE DONE ***</time>
                <span class="divider-dash"><span class="text-info">
                  <%=
                    case contact.pending_tasks_count
                    when 0
                      'No pending tasks'
                    when 1
                      '1 pending task'
                    else
                      "#{contact.pending_tasks_count} pending tasks"
                    end
                  %>
                </span></span>
              </small>
            </div>
          </a>
          <div class="media-right gap-items">
            <a class="media-action lead fs-26" href="#qv-user-details" data-toggle="quickview" data-url="contact_card/<%= contact.id %>" data-provide="tooltip" title="" data-original-title="Quick actions"><i class="ti-bolt"></i></a>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>

<!------------------------------------- MODALS ---------------------------------------->

<!-- QUICKVIEW: Contact Action -->
<div id="qv-user-details" class="quickview"></div>

<!-- QUICKVIEW: New Contact Form -->
<div id="qv_new_contact" class="quickview quickview-lg">
  <header class="quickview-header">
    <p class="quickview-title lead">New Contact</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  
  <div class="quickview-body">
    <%= form_tag admin_plugins_flexx_plugin_crm_create_contact_path, method: :post, id: 'new-contact-form' do %>

      <div class="quickview-block form-type-material">
        
        <div class="form-group">
          <input type="text" class="form-control" name="new_contact[first_name]">
          <label>First Name</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="new_contact[last_name]">
          <label>Last Name</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="new_contact[email]">
          <label>Email Address</label>
        </div>
        
        <div class="form-row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" name="new_contact[phonenumbers_attributes][][number]">
              <label>Phone Number</label>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-control" data-provide="selectpicker">
                <option>Type</option>
                <option>Mobile</option>
                <option>Home</option>
                <option>Work</option>
                <option>Other</option>
              </select>
            </div>
          </div>    
        </div>

        <div class="form-row">
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-control" data-provide="selectpicker" title="Status">
                <option>Lead</option>
                <option>Prospect</option>
                <option>Customer</option>
              </select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-control" data-provide="selectpicker" title="Source">
                <option>Referral</option>
                <option>Social Media</option>
                <option>Web Search</option>
                <option>Website Form</option>
                <option>PR / Advertising</option>
                <option>Email</option>
                <option>Word of mouth</option>
                <option>Partner</option>
                <option>Other</option>
              </select>
            </div>
          </div>
        </div>

        <label>Tags *need to connect Typeahead for all current tags</label>
        <div class="form-group">                   
          <input type="text" id="tags-typeahead">
          <small class="form-text">Press enter after typing tag</small>
        </div>

        <div class="form-group">
          <textarea class="form-control" rows="6"></textarea>
          <label>Highlights</label>
        </div>
        
      </div>
    <% end %>
  </div>
  
  <footer class="quickview-footer flex-row-reverse">
    <button id="new-contact-add" class="btn btn-primary" onclick="submitNewContactForm()">Add</button>
    <button id="new-contact-cancel" class="btn btn-secondary" type="button">Cancel</button>
    <div id="new-contact-spinner" class="spinner-circle-shadow invisible"></div>
  </footer>
</div>
