<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Contacts</h4>
    <a class="btn btn-primary pull-right" href="<%= admin_plugins_flexx_plugin_crm_new_contact_path %>">
      <i class="fa fa-plus"></i> Add Contact
    </a>
  </div>
  <div class="panel-body">
    <table class="table table-responsive table-hover table-striped">
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Stage</td>
        </tr>
      </thead>
      <tbody>
        <% @active_contacts.each do |contact| %>
          <tr>
            <td><a href="<%= admin_view_contact_path(contact.id) %>"><%= contact.first_name %></a></td>
            <td><a href="<%= admin_view_contact_path(contact.id) %>"><%= contact.last_name %></a></td>
            <td><a href="<%= admin_view_contact_path(contact.id) %>"><%= contact.email %></a></td>
            <td><span class="label label-success label-form"><%= contact.sales_stage %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Pending tasks</h4>
  </div>
  <div class="panel-body">
    <% current_site.tasks.pending.limit(10).order(:due_date).each do |task| %>
      <div class="row">
        <div class="col-md-6">
          <label>Contact</label><br>
          <%= task.contact.first_name %> <span class="label label-success label-form"><%= task.contact.sales_stage %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Type</label><br>
          <%= task.task_type.humanize %>
        </div>
        <div class="col-md-6">
          <label>Due date</label><br>
          <%= task.due_date.to_formatted_s(:long) %>
        </div>
        <div class="col-md-12">
          <label>Title</label><br>
          <%= task.title %>
        </div>
        <div class="col-md-12">
          <label>Details</label><br>
          <%= task.details %>
        </div>
        <% if task.notes.present? %>
          <div class="col-md-12">
            <br/>
            <label>Notes</label>
          </div>
          <% task.notes.each do |note| %>
            <div class="col-md-6">
            <label>At</label><br>
            <%= note.created_at.to_date.to_formatted_s(:long) %>
          </div>
          <div class="col-md-6">
            <label>By</label><br>
            <%= note.created_by_user.first_name %>
          </div>
          <div class="col-md-12">
            <br/>
            <%= note.details %>
            <p/>
          </div>
          <% end %>
        <% end %>
      </div>
      <%= form_tag admin_plugins_flexx_plugin_crm_update_task_path(task_id: task.id), method: :post do %>
        <input type="hidden" name="task[notes_attributes][][created_by]" value="<%= current_user.id %>">
        <div class="row">
          <div class="col-md-12">
            <label for="task_notes">Add Notes</label><br>
            <textarea class="form-control sluged valid" type="text" name="task[notes_attributes][][details]" id="task_notes"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="task_status">Status</label><br>
            <select id="task_status" name="task[aasm_state]" class="form-control select">
              <option value="pending">Pending</option>
              <option value="done">Done</option>
            </select>
          </div>
          <div class="col-md-6"><br/>
            <input type="submit" class="btn btn-success pull-right" value="Update" />
          </div>
        </div>
      <% end %>
      <hr/>
    <% end %>
  </div>
</div>
