<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Create task recipe</h4>
        </div>
        <div class="panel-body">
          <%= form_tag admin_plugins_flexx_plugin_crm_create_task_recipe_path, method: :post do %>
            <div class="row">
              <div class="col-md-10 form-group">
                <label for="task_recipe_title">Title</label> <em class="text-danger">*</em><br>
                <input class="form-control required sluged valid" type="text" name="new_task_recipe[title]" id="task_recipe_title" aria-required="true" aria-invalid="false">
              </div>
              <div class="col-md-2 form-group">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-success pull-right" value="Create" />
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Task recipes</h4>
        </div>
        <div class="panel-body">
          <% @task_recipes.each do |row| %>
            <div class="col-md-12">
              <a href="<%= admin_plugins_flexx_plugin_crm_view_task_recipe_path(row.id) %>"><%= row.title %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Create automated campaign</h4>
        </div>
        <div class="panel-body">
          <%= form_tag admin_plugins_flexx_plugin_crm_create_automated_campaign_path, method: :post do %>
            <div class="row">
              <div class="col-md-10 form-group">
                <label for="new_automated_campaign_name">Name</label> <em class="text-danger">*</em><br>
                <input class="form-control required sluged valid" type="text" name="new_automated_campaign[name]" id="new_automated_campaign_name" aria-required="true" aria-invalid="false">
              </div>
              <div class="col-md-2 form-group">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-success pull-right" value="Create" />
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Automated campaigns</h4>
        </div>
        <div class="panel-body">
          <% @automated_campaigns.each do |row| %>
            <div class="col-md-12">
              <a href="<%= admin_plugins_flexx_plugin_crm_view_automated_campaign_path(row.id) %>"><%= row.name %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
