<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= "#{@contact.first_name} #{@contact.last_name}" %> details</h4>
      </div>
      <div class="panel-body">
        <%= form_tag admin_plugins_flexx_plugin_crm_update_contact_path, method: :post do %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-12">
                <label for="contact_sales_stage">Sales stage</label> <em class="text-danger">*</em><br>
                <select id="contact_sales_stage" name="contact[sales_stage]" class="form-control select">
                  <option class="" value="lead" <%= "selected" if @contact.lead? %>>Lead</option>
                  <option value="prospect" <%= "selected" if @contact.prospect? %>>Prospect</option>
                  <option value="customer" <%= "selected" if @contact.customer? %>>Customer</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-6">
                <label for="contact_first_name">First name</label> <em class="text-danger">*</em><br>
                <input value="<%= @contact.first_name %>" class="form-control required sluged valid" type="text" name="contact[first_name]" id="contact_first_name" aria-required="true" aria-invalid="false">
              </div>
              <div class="form-group col-md-6">
                <label for="contact_last_name">Last name</label> <em class="text-danger">*</em><br>
                <input value="<%= @contact.last_name %>" class="form-control required sluged valid" type="text" name="contact[last_name]" id="contact_last_name" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-12">
                <label for="contact_email">E-mail</label> <em class="text-danger">*</em><br>
                <input value="<%= @contact.email %>" class="form-control required sluged valid" type="text" name="contact[email]" id="contact_email" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-success pull-right" value="Update" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Create a new task</h4>
      </div>
      <div class="panel-body">
        <%= form_tag admin_plugins_flexx_plugin_crm_create_task_path(contact_id: @contact.id), method: :post do %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-6">
                <label for="new_task_task_type">Type</label> <em class="text-danger">*</em><br>
                <select id="new_task_task_type" name="new_task[task_type]" class="form-control select">
                  <option value="phone_call">Phone call</option>
                  <option value="message">Message</option>
                  <option value="email">Email</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="new_task_due_date">Due date</label> <em class="text-danger">*</em><br>
                <input class="form-control required sluged valid" type="text" name="new_task[due_date]" id="new_task_due_date" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-12">
                <label for="new_task_title">Title</label> <em class="text-danger">*</em><br>
                <input class="form-control required sluged valid" type="text" name="new_task[title]" id="new_task_title" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-12">
                <label for="new_task_title">Details</label> <em class="text-danger">*</em><br>
                <textarea class="form-control required sluged valid" type="text" name="new_task[details]" id="new_task_details" aria-required="true" aria-invalid="false"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-success pull-right" value="Create" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Automated Tasks</h4>
      </div>
      <div class="panel-body">
        <% @contact.automated_campaign_jobs.order(:send_at).each do |job| %>
          <div class="row">
            <div class="col-md-4">
              <label>Status</label><br>
              <%= job.status.humanize %>
            </div>
            <div class="col-md-4">
              <label>Scheduled for</label><br>
              <%= job.send_at.to_date.to_formatted_s(:long) %>
            </div>
            <div class="col-md-4">
              <label>Last modified at</label><br>
              <%= job.status_changed_at.to_date.to_formatted_s(:long) %>
            </div>
            <div class="col-md-12">
              <label>Message</label><br>
              <%= job.message %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Tasks done</h4>
      </div>
      <div class="panel-body">
        <% @contact.tasks.done.order(:due_date).each do |task| %>
          <div class="row">
            <div class="col-md-4">
              <label>Type</label><br>
              <%= task.task_type.humanize %>
            </div>
            <div class="col-md-4">
              <label>Done at</label><br>
              <%= task.updated_at.to_date.to_formatted_s(:long) %>
            </div>
            <div class="col-md-4">
              <label>Done by</label><br>
              <%= task.updated_by_user.first_name %>
            </div>
            <div class="col-md-12">
              <label>Title</label><br>
              <%= task.title %>
            </div>
            <div class="col-md-12">
              <label>Details</label><br>
              <%= task.details %>
            </div>
            <% if task.notes.present? %>
              <div class="col-md-12">
                <br/>
                <label>Notes</label>
              </div>
              <% task.notes.each do |note| %>
                <div class="col-md-6">
                <label>At</label><br>
                <%= note.created_at.to_date.to_formatted_s(:long) %>
              </div>
              <div class="col-md-6">
                <label>By</label><br>
                <%= note.created_by_user.first_name %>
              </div>
              <div class="col-md-12">
                <br/>
                <%= note.details %>
                <p/>
              </div>
              <% end %>
            <% end %>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Pending tasks</h4>
      </div>
      <div class="panel-body">
        <% @contact.tasks.pending.order(:due_date).each do |task| %>
          <div class="row">
            <div class="col-md-6">
              <label>Type</label><br>
              <%= task.task_type.humanize %>
            </div>
            <div class="col-md-6">
              <label>Due date</label><br>
              <%= task.due_date.to_formatted_s(:long) %>
            </div>
            <div class="col-md-12">
              <label>Title</label><br>
              <%= task.title %>
            </div>
            <div class="col-md-12">
              <label>Details</label><br>
              <%= task.details %>
            </div>
            <% if task.notes.present? %>
              <div class="col-md-12">
                <br/>
                <label>Notes</label>
              </div>
              <% task.notes.each do |note| %>
                <div class="col-md-6">
                <label>At</label><br>
                <%= note.created_at.to_date.to_formatted_s(:long) %>
              </div>
              <div class="col-md-6">
                <label>By</label><br>
                <%= note.created_by_user.first_name %>
              </div>
              <div class="col-md-12">
                <br/>
                <%= note.details %>
                <p/>
              </div>
              <% end %>
            <% end %>
          </div>
          <%= form_tag admin_plugins_flexx_plugin_crm_update_task_path(task_id: task.id), method: :post do %>
            <input type="hidden" name="task[notes_attributes][][created_by]" value="<%= current_user.id %>">
            <div class="row">
              <div class="col-md-12">
                <label for="task_notes">Add Notes</label><br>
                <textarea class="form-control sluged valid" type="text" name="task[notes_attributes][][details]" id="task_notes"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="task_status">Status</label><br>
                <select id="task_status" name="task[aasm_state]" class="form-control select">
                  <option value="pending">Pending</option>
                  <option value="done">Done</option>
                </select>
              </div>
              <div class="col-md-6"><br/>
                <input type="submit" class="btn btn-success pull-right" value="Update" />
              </div>
            </div>
          <% end %>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
