<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/recipes' %>
<% end %>

<style>
  input[type=radio].hide-control { display: none; }
</style>

<header class="header">
  <div class="header-bar header-inverse bg-info">
    <a href="/admin/next/recipes" style="color: #fff;"><i class="ti-arrow-left"></i> Back to recipes list</a>
    <p class="fs-16">Recipe details</p>
  </div>

  <div class="header-info">
    <div class="left">
      <h2 class="header-title">
        <strong><%= @task_recipe.title %></strong> recipe
        <small class="subtitle"><%= @task_recipe.description %></small>
      </h2>
    </div>
  </div>

  <div class="header-action">
    <div class="buttons">
      <a class="btn btn-warning btn-float btn-sm" href="#" title="Edit title or description" data-provide="tooltip" data-placement="top"><i class="ti-pencil"></i></a>
      <a class="btn btn-success btn-float" href="#" title="Activate recipe" data-provide="tooltip" data-placement="top"><i class="ti-control-play"></i></a>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title"><strong>Directions</strong></h4>
        <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
          <% @task_recipe.ordered_directions.each do |direction| %>
            <li class="timeline-block">
              <div class="timeline-point">
                <span class="badge badge-ring badge-primary"></span>
              </div>
              <div class="timeline-content">
                <time datetime="2018"><%= distance_of_time_in_words(DateTime.now, DateTime.now + direction.due_on_value.send(direction.due_on_unit)) %></time>
                <p><%= direction.task_type.humanize %></p>
                <%= direction.title %>
                <br/><%= direction.details %>
              </div>
            </li>
          <% end %>
        </ol>
        <div class="card-footer text-center">
          <div class="fab">
            <button id="btn_add_step" class="btn btn-float" title="Add new step" data-provide="tooltip" data-placement="top"><i class="ti-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="new_step_form">
      <div id="step_placeholder" class="card card-transparent">
        <div class="card-body text-center">
          <h3 class="text-muted">Add a new step</h3>
        </div>
      </div>
      <form name="recipeStep" class="card form-type-combine">
        <h4 class="card-title"><strong>New step</strong></h4>

        <div class="card-body">
          <div class="form-group">
            <label for="select">Type</label>
            <select class="form-control" data-provide="selectpicker" id="step_type">
              <option>Phone call</option>
              <option>Email</option>
              <option>Text</option>
              <option>General</option>
            </select>
          </div>

          <h6 class="text-light fw-300">Timing</h6>
          <div class="no-border text-center">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-lg btn-info active">
                <input class="hide-control" type="radio" name="timingOptions" id="option1" value="1" autocomplete="off" checked>Immediate</i>
              </label>
              <label class="btn btn-lg btn-info">
                <input class="hide-control" type="radio" name="timingOptions" id="option2" value="2" autocomplete="off">Schedule</i>
              </label>
            </div>
          </div>

          <div id="timing_detail" class="form-groups-attached">
            <div class="row">
              <div class="form-group col-6">
                <label>After</label>
                <input class="form-control" type="text" placeholder="1">
              </div>

              <div class="form-group col-6">
                <label for="select">Time unit</label>
                <select class="form-control" id="select">
                  <option>minutes</option>
                  <option>hours</option>
                  <option>days</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <h6 class="text-light fw-300">Details</h6>
          <div class="form-groups-attached">

            <div class="form-group">
              <label>Title for reference</label>
              <input class="form-control" type="text">
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="6"></textarea>
            </div>

          </div>
        </div>

        <footer class="card-footer text-right">
          <button class="btn btn-secondary" type="reset">Cancel</button>
          <button class="btn btn-primary" type="submit">Add</button>
        </footer>
      </form>

    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h4 class="card-title"><strong>Associated forms</strong> (optional)</h4>

        <div class="card-body form-type-combine">
          <div class="row">


            <div class="col-md-6">
              <p>Use the list on the right to select forms associated with the recipe. Anyone submitting through the form will automatically have the task list applied to their account.</p>
            </div>


            <div class="col-md-6">
              <hr class="d-md-none">

              <div class="form-group">
                <h5>Forms</h5>

                <p>Select one or more forms</p>
                <select data-provide="selectpicker" multiple>
                  <option>Default contact</option>
                  <option>Consultation</option>
                  <option>Special event</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
