<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/recipes' %>
<% end %>

<style>
  input[type=radio].hide-control { display: none; }
</style>

<header class="header">
  <div class="header-bar header-inverse bg-info">
    <a href="/admin/next/recipes" style="color: #fff;"><i class="ti-arrow-left"></i> Back to recipes list</a>
    <p class="fs-16">Recipe details</p>
  </div>

  <div class="header-info">
    <div class="left">
      <h2 class="header-title">
        <strong><%= @task_recipe.title %></strong> recipe
        <small class="subtitle"><%= @task_recipe.description %></small>
      </h2>
    </div>
  </div>

  <div class="header-action">
    <div class="buttons">
      <a class="btn btn-warning btn-float btn-sm" href="#" title="Edit title or description" data-provide="tooltip" data-placement="top"><i class="ti-pencil"></i></a>
      <a class="btn btn-success btn-float" href="#" title="Activate recipe" data-provide="tooltip" data-placement="top"><i class="ti-control-play"></i></a>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title"><strong>Directions</strong></h4>
        <ol id="recipe-directions-panel" class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
          <%= render partial: 'recipe_directions' %>
        </ol>
        <div class="card-footer text-center">
          <div class="fab">
            <button id="new-recipe-direction-add-button" class="btn btn-float" title="Add new step" data-provide="tooltip" data-placement="top"><i class="ti-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="new-recipe-direction-panel">
      <div id="step_placeholder" class="card card-transparent">
        <div class="card-body text-center">
          <h3 class="text-muted">Add a new step</h3>
        </div>
      </div>

      <div class="card">
        <h4 class="card-title"><strong>New step</strong></h4>
        <%= form_tag admin_plugins_flexx_plugin_crm_create_task_recipe_direction_path(task_recipe_id: @task_recipe.id, format: :js), method: :post, remote: true, authenticity_token: true, name: 'recipeStep', id: 'new-recipe-direction-form', class: 'form-type-combine' do %>
          <div class="card-body">
            <div class="form-group">
              <label for="select">Type</label>
              <select class="form-control" name="new_task_recipe_direction[task_type]">
                <option value="phone_call">Phone call</option>
                <option value="message">Email</option>
                <option value="email">Text</option>
                <option value="other">General</option>
              </select>
            </div>

            <h6 class="text-light fw-300">Timing</h6>
            <div class="no-border text-center">
              <div class="btn-group" data-toggle="buttons">
                <button class="btn btn-lg btn-info" id="new-recipe-direction-immediate-button">Immediate</button>
                <button class="btn btn-lg" id="new-recipe-direction-schedule-button">Schedule</button>
              </div>
            </div>

            <div id="new-recipe-direction-timming-panel" class="form-groups-attached" style="display: none">
              <br/>
              <div class="row">
                <div class="form-group col-6">
                  <label>After</label>
                  <input class="form-control" type="text" name="new_task_recipe_direction[due_on_value]">
                </div>

                <div class="form-group col-6">
                  <label for="select">Time unit</label>
                  <select class="form-control" name="new_task_recipe_direction[due_on_unit]">
                    <option value="minutes">minute(s)</option>
                    <option value="hours">hour(s)</option>
                    <option value="days">day(s)</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <h6 class="text-light fw-300">Details</h6>
            <div class="form-groups-attached">

              <div class="form-group">
                <label>Title for reference</label>
                <input class="form-control" type="text" name="new_task_recipe_direction[title]">
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="6" name="new_task_recipe_direction[details]"></textarea>
              </div>

            </div>
          </div>
        <% end %>
        <footer class="card-footer modal-footer text-right">
          <div id="new-recipe-direction-spinner" class="spinner-circle-shadow invisible"></div>
          <button class="btn btn-secondary" id="new-recipe-direction-cancel">Cancel</button>
          <button class="btn btn-primary" id="new-recipe-direction-add" onclick="addNewRecipeDirection()">Add</button>
        </footer>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h4 class="card-title"><strong>Associated forms</strong> (optional)</h4>

        <div class="card-body form-type-combine">
          <div class="row">
            <div class="col-md-6">
              <p>Use the list on the right to select forms associated with the recipe. Anyone submitting through the form will automatically have the task list applied to their account.</p>
            </div>
            <div class="col-md-6">
              <hr class="d-md-none">
              <div class="form-group">
                <h5>Forms</h5>
                <%= form_tag admin_plugins_flexx_plugin_crm_create_task_recipe_direction_path(task_recipe_id: @task_recipe.id, format: :js), method: :post, remote: true, id: 'update-recipe-form', class: 'form-type-combine' do %>
                  <select id="update-recipe-associated-forms" name="task_recipe[cama_contact_form_ids]" data-provide="selectpicker" data-width="100%" multiple title="Choose one or more forms...">
                    <%= options_from_collection_for_select(@available_contact_forms, 'id', 'name', @task_recipe.cama_contact_form_ids) %>
                  </select>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
