<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/contacts' %>
<% end %>

<style>
  input[type=radio].hide-control { display: none; }
</style>

<div class="main-content">
  <div class="row">

    <div class="col-md-4">
      <div class="card no-margin">

        <div class="card-body card-inverse text-center pb-50">
          <a href="/admin/next/contacts/paulo">
            <span class="avatar avatar-xxl avatar-bordered status-<%= @contact.sales_stage %>"><%= @contact.initials %></span>
          </a>
          <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#"><%= @contact.print_name %></a></h4>
          <span id="sales-stage-label"><%= @contact.sales_stage.humanize %></span>
          <p class="mt-20"><button class="btn btn-label btn-info" data-toggle="modal" data-target="#update_status_modal"><label><i class="ti-bolt"></i></label> Update Status</button></p>
        </div>
        <ul class="flexbox flex-justified text-center p-20">
          <% if @contact.email.nil? %>
            <li class="br-1 border-light">
              <span class="text-muted">Email</span><br>
              <span class="fs-22"><i class="fa fa-envelope"></i></span>
            </li>
          <% else %>
            <a href="#" class="br-1 border-light text-info">
              <span class="text-muted">Email</span><br>
              <span class="fs-22"><i class="fa fa-envelope"></i></span>
            </a>
          <% end %>
          <% if !@contact.phonenumbers.present? %>
            <li class="br-1 border-light">
              <span class="text-muted">Call</span><br>
              <span class="fs-22"><i class="fa fa-phone"></i></span>
            </li>
            <li>
              <span class="text-muted">Text</span><br>
              <span class="fs-22"><i class="fa fa-comment"></i></span>
            </li>
          <% else %>
            <a href="#" class="br-1 border-light text-info">
              <span class="text-muted">Call</span><br>
              <span class="fs-22"><i class="fa fa-phone"></i></span>
            </a>
            <a href="#" class="text-info">
              <span class="text-muted text-info">Text</span><br>
              <span class="fs-22"><i class="fa fa-comment"></i></span>
            </a>
          <% end %>
        </ul>
      </div>

      <div class="card">
        <ul class="nav nav-lg nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#tab_tasks" data-toggle="tab">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab_contact_details" data-toggle="tab">User Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab_conversations" data-toggle="tab">Conversations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab_recipes_campaigns" data-toggle="tab">Campaigns & Recipes</a>
          </li>
        </ul>
      </div>

      <div class="text-center mb-20">
        <a class="btn btn-block btn-multiline btn-primary" href="#qv-add-task" data-toggle="quickview"><i class="ti-layout-list-thumb fs-20"></i><br>Add task</a>
      </div>
    </div>

    <div class="col-md-8 tab-content">
      <div class="tab-pane fade active show" id="tab_tasks">
        <p class="lead text-center text-fade">Open tasks</p>
        <div id="contact-open-tasks-panel">
          <%= render partial: 'contact_open_tasks', locals: { refresh_panel: 'view-contact-tasks-panels' }%>
        </div>
        <br>
        <div class="divider text-uppercase fw-500">Timeline</div>

        <div class="card">
          <header class="card-header">
            <h4 class="card-title"><strong>History</strong></h4>
            <div class="card-header-actions">
              <button class="btn btn-sm btn-primary">Filter</button>
            </div>
          </header>

          <ol id="contact-timeline-panel" class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
            <%= render partial: 'contact_timeline' %>
          </ol>

        </div>
      </div>

      <form class="card form-type-material tab-pane fade" id="tab_contact_details">
        <h4 class="card-title fw-400">Contact Details</h4>

        <div class="card-body">
          <div class="flexbox gap-items-4">
            <span class="avatar avatar-xl">pc</span>

            <div class="flex-grow">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" value="<%= @contact.first_name %>">
                    <label>First name</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" value="<%= @contact.last_name %>">
                    <label>Last name</label>
                  </div>
                </div>
              </div>
              <div class="d-felx flex-column flex-sm-row gap-y gap-items-2 mt-16">
                <div class="file-group file-group-inline">
                  <button class="btn btn-sm btn-w-lg btn-outline btn-round btn-secondary file-browser" type="button">Change Picture</button>
                  <input type="file">
                </div>

                <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-danger align-top" href="#">Delete Picture</a>
              </div>

            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <div class="input-group">
                  <div class="input-group-input">
                    <%= @contact.sales_stage.capitalize %>
                    <label>Status</label>
                  </div>
                  <span class="input-group-append">
                    <button class="btn btn-sm btn-info btn-outline" type="button" data-toggle="modal" data-target="#update_status_modal">Update</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <label>Lead source</label>
                  <select class="form-control" data-provide="selectpicker" title="Choose Source">
                    <option>Referral</option>
                    <option>Social Media</option>
                    <option>Web Search</option>
                    <option selected>Website Form</option>
                    <option>PR / Advertising</option>
                    <option>Email</option>
                    <option>Word of mouth</option>
                    <option>Partner</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <input class="form-control" type="text" value="<%= @contact.email %>">
              <label>Email</label>
            </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>Phone</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>Street Address</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>Line 2</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>City</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>State / Province / Region</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control" type="text">
                <label>ZIP / Postal Code</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <select class="form-control" data-provide="selectpicker" title="Select country">
                  <option selected>United States</option>
                  <option>Australia</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group do-float">
                <input type="text" class="form-control" aria-describedby="basic-addon2"  data-format="{{99}}/{{99}}/{{9999}}">
                <label>Birthday</label>
              </div>
            </div>
          </div>

          <label>Tags</label>
          <div class="form-group">
            <input type="text" value="Grand Opening,Injury,Mother" data-provide="tagsinput">
            <small class="form-text">Press enter after typing tag</small>
          </div>

          <div class="form-group">
            <textarea class="form-control" rows="6"></textarea>
            <label>Highlights</label>
          </div>
        </div>

        <footer class="card-footer text-right">
          <button class="btn btn-flat btn-primary" type="submit">Save Changes</button>
        </footer>
      </form>

      <div class="tab-pane fade" id="tab_conversations">
        <div class="card">
          <h5 class="card-title"><strong>Conversations</strong></h5>
        </div>

      </div>

      <div class="tab-pane fade" id="tab_recipes_campaigns">
        <div class="card">
          <h5 class="card-title">Active <strong>Campaigns</strong></h5>
          <div class="media-list media-list-hover media-list-divided">
            <% @automated_campaigns.each do |campaign| %>
              <div class="media align-items-center">
                <div class="media-body">
                  <p><strong><%= campaign.name %></strong></p>
                </div>
                <div>
                  <% if @subscribed_campaigns.include?(campaign.id) %>
                    <a class="btn btn-sm btn-twitter" href="#">Added</a>
                  <% else %>
                    <a class="btn btn-sm btn-twitter btn-outline" href="#">Add to list</a>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card">
          <h5 class="card-title">Available <strong>Recipes</strong></h5>
          <div class="media-list media-list-hover media-list-divided">
            <% @available_recipes.each do |recipe| %>
              <div class="media align-items-center">
                <div class="media-body">
                  <p><strong><%= recipe.title %></strong></p>
                </div>
                <div>
                  <a class="btn btn-sm btn-twitter btn-outline" href="#">Add tasks</a>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_task" class="quickview quickview-lg backdrop-dark"></div>

<!-- QUICKVIEW - Add task -->
<div id="qv-add-task" class="quickview quickview-lg backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Task</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <%= form_tag admin_create_contact_task_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'new-contact-task-form', class: 'form-type-combine' do %>
    <div class="card-body">
      <div class="form-group">
        <label for="select">Type</label>
        <select class="form-control" name="new_contact_task[task_type]">
          <option value="phone_call">Phone call</option>
          <option value="message">Email</option>
          <option value="email">Text</option>
          <option value="meeting">Meeting</option>
          <option value="general">General</option>
        </select>
      </div>
      <div class="form-group col-12">
        <label>Date</label>
        <input class="form-control" data-provide="datepicker" type="text" name="new_contact_task[due_date]">
      </div>
      <br>
      <h6 class="text-light fw-300">Details</h6>
      <div class="form-groups-attached">
        <div class="form-group">
          <label>Task title</label>
          <input class="form-control" type="text" name="new_contact_task[title]">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="6" name="new_contact_task[details]"></textarea>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <footer class="quickview-footer flex-row-reverse">
    <div id="new-contact-task-spinner" class="spinner-circle-shadow invisible"></div>
    <button class="btn btn-success" id="new-contact-task-add" onclick="addNewContactTask()">Add</button>
    <button class="btn btn-danger" id="new-contact-task-cancel" type="reset">Cancel</button>
  </footer>
</div>

<!-- MODAL: Defer task -->
<div class="modal modal-center fade" id="modal-defer-task" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Defer: Task title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Current due date</label>
            <input type="text" class="form-control" value="04/12/2018" readonly="">
          </div>
          <div class="form-group">
            <label>Defer until</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: Update Status -->
<div class="modal modal-center fade" id="update_status_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag admin_update_contact_status_path(id: @contact.id, format: :js), method: :post, remote: true, authenticity_token: true, id: 'update-sales-stage-form' do %>
        <input type="hidden" name="contact[sales_stage]" id="update-sales-stage-field" value="">
      <% end %>
      <div class="modal-body">
        <p>
          <button class="btn btn-block btn-bold btn-lead btn-lg" onclick="updateSalesStage('lead')">Lead</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-prospect btn-lg" onclick="updateSalesStage('prospect')">Prospect</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold btn-customer btn-lg" onclick="updateSalesStage('customer')">Customer</button>
        </p>
        <p>
          <button class="btn btn-block btn-bold border-danger text-danger btn-lg" onclick="updateSalesStage('archived')">Archive Contact</button>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
