<header class="quickview-header">
  <p class="quickview-title lead"><strong>Edit</strong> stock task</p>
  <span class="close"><i class="ti-close"></i></span>
</header>
<div class="quickview-body">
  <div class="quickview-block form-type-combine">

    <%= form_tag update_stock_admin_tasks_path(@stock_task.id), method: :patch, remote: true, authenticity_token: true, id: 'update-stock-task-form', class: 'form-type-combine', style: 'width: 100%' do %>

      <div class="form-groups-attached">
        <div class="row">
          <div class="form-group col-12">
            <label for="select">Type</label>
            <select class="form-control" name="stock_task[metadata][task_type]">
              <option <%= 'selected' if @stock_task.metadata['task_type'] == 'phone_call' %> value="phone_call">Phone call</option>
              <option <%= 'selected' if @stock_task.metadata['task_type'] == 'email' %> value="email">Email</option>
              <option <%= 'selected' if @stock_task.metadata['task_type'] == 'message' %> value="message">Text</option>
              <option <%= 'selected' if @stock_task.metadata['task_type'] == 'meeting' %> value="meeting">Meeting</option>
              <option <%= 'selected' if @stock_task.metadata['task_type'] == 'general' %> value="general">General</option>
            </select>
          </div>
        </div>

        <div class="form-group require">
          <label>Title</label>
          <input class="form-control" type="text" name="stock_task[name]" value="<%= @stock_task.name %>" required>
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
          <label for="textarea">Description</label>
          <small>Optional</small>
          <textarea class="form-control" rows="3" name="stock_task[description]"><%= @stock_task.description %></textarea>
        </div>
      </div>

    <% end %>

    <hr>

    <div class="form-groups-attached">

      <div class="row">
        <% unless (current_site.users.find_by(id: @stock_task.created_by).nil?) %>
          <div class="form-group col-6">
            <label>Created by</label>
            <input type="text" class="form-control" value="<%= current_site.users.find_by(id: @stock_task.created_by).first_name %> <%= current_site.users.find_by(id: @stock_task.created_by).last_name %>" readonly="">
          </div>
          <div class="form-group col-6">
            <label>Updated by</label>
            <% if @stock_task.updated_by.nil? %>
              <input type="text" class="form-control" value="-" readonly="">
            <% else %>
              <% unless (current_site.users.find_by(id: @stock_task.updated_by).nil?) %>
                <input type="text" class="form-control" value="<%= current_site.users.find_by(id: @stock_task.updated_by).first_name %> <%= current_site.users.find_by(id: @stock_task.updated_by).last_name %>" readonly="">
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>Created at</label>
          <input type="text" class="form-control" value="<%= @stock_task.created_at.strftime('%m/%d/%Y - %I:%M %p') %>" readonly="">
        </div>
        <div class="form-group col-6">
          <label>Updated at</label>
          <input type="text" class="form-control" value="<%= @stock_task.updated_by.nil? ? '-' : @stock_task.updated_at.strftime('%m/%d/%Y - %I:%M %p') %>" readonly="">
        </div>
      </div>      

    </div>

    <%= form_tag delete_stock_admin_tasks_path(@stock_task.id), method: :delete, remote: true, authenticity_token: true, id: 'delete-stock-task-form', class: 'form-type-combine', style: 'width: 100%' do %>
    <% end %>
  </div>
</div>
<footer class="quickview-footer flex-row-reverse">
  <button class="btn btn-success" onclick="$('#update-stock-task-form').submit()">Update</button>
  <button class="btn btn-danger" onclick="$('#delete-stock-task-form').submit()">Delete</button>
</footer>
