<% tasks.each do |row| %>
  <div class="card b-1 hover-shadow-2 mb-20">
    <a class="media card-body" data-toggle="quickview" href="#qv_view_task" data-url="<%= admin_task_card_path(id: row.id, refresh_panel: refresh_panel) %>">
      <div class="media-left pr-12">
        <span class="avatar avatar-xl no-radius"><i class="fa fa-<%= task_type_icon(task_type: row.task_type) %>"></i></span>
      </div>
      <div class="media-body">
        <div class="mb-2">
          <span class="fs-20 pr-16"><%= row.title %> | <strong><%= "#{row.contact.print_name}" %></strong></span>
        </div>
        <small class="fs-14 fw-300"><strong>Due: </strong><%= row.due_date.today? ? 'Today,' : row.due_date.strftime('%B %d') %>&nbsp;(<%= row.due_date.strftime('%I:%M %p') %>) <%= ' (confirmed)' if row.confirmed_at? %></small>
      </div>
      <div class="media-right text-right d-none d-md-block">
      </div>
    </a>
    <footer class="card-footer flexbox align-items-center">
      <div>
        <% unless row.notes.empty? %>
          <span class="text-lighter hover-light">
            <i class="fa fa-comment mr-1"></i> <%= row.notes.count %>
          </span>
        <% end %>  
        <span class="card-hover-show pl-20">
          <% if row.task_type == 'meeting' && row.confirmed_at.nil? %>
            <button class="btn btn-xs fs-10 btn-bold btn-info" onclick="sendConfirmation(<%= row.id %>)">Ask Confirmation</button>
          <% end %>

          <button class="btn btn-xs fs-10 btn-bold btn-warning" onclick="deferTask(<%= row.id %>, '<%= row.due_date.strftime('%m/%d/%Y - %I:%M %p') %>')">Defer Task</button>
          <a class="btn btn-xs fs-10 btn-bold btn-danger ml-15" href="#">Remove</a>
        </span>
      </div>
      <div class="pull-right">
        <div class="avatar-list">
          <% row.owners.each do |owner| %>
            <span class="avatar bg-dark"><%= owner.initials %></span>
          <% end %>
          <button class="avatar avatar-add" data-provide="modaler" data-title="Assign staff" data-footer-visible="false" data-url="<%= admin_task_task_owners_path(task_id: row.id, refresh_panel: refresh_panel) %>"></button>
        </div>
      </div>
    </footer>
  </div>
<% end %>
