<header class="quickview-header">
  <p class="quickview-title lead">Complete: <strong><%= @task.title %></strong></p>
  <span class="close"><i class="ti-close"></i></span>
</header>
  <div class="quickview-body">
    <div class="card no-margin">
      <div class="card-body card-inverse text-center pb-20">
        <span class="avatar avatar-xxl avatar-bordered"><i class="fa fa-<%= task_type_icon(task_type: @task.task_type) %> fs-30"></i></span>
        <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#"><%= @task.contact.print_name %></a></h4>
        <span><%= @task.task_type.humanize %></span>
      </div>
      <div class="p-20">
        <span class="text-muted">Description</span>
        <br/><span><%= @task.details %></span>
      </div>
      <ul class="flexbox flex-justified text-center p-20">
        <li class="br-1 border-light">
          <span class="text-muted">Date</span><br>
          <span><%= @task.due_date.strftime('%m/%d/%Y') %></span>
        </li>
        <li>
          <span class="text-muted">Time</span><br>
          <span><%= @task.due_date.strftime('%I:%M %p') %></span>
        </li>
      </ul>
      <%= form_tag admin_task_path(id: @task.id, format: :js), method: :patch, remote: true, authenticity_token: true, id: 'update-task-form', class: 'quickview-block form-type-combine' do %>
        <input type="hidden" name="refresh_panel" value="<%= params[:refresh_panel] %>">
        <input type="hidden" name="task[aasm_state]" id="task-status" value="<%= @task.aasm_state %>">
        <%= render partial: "plugins/flexx_plugin_crm/admin/task_actions/#{@task.task_type}" %>
      <% end %>
    </div>
  </div>
<footer class="quickview-footer flex-row-reverse">
  <button class="btn btn-success" onclick="$('#task-status').val('done'); $('#update-task-form').submit();">Done</button>
  <button class="btn btn-danger" type="reset">Cancel</button>
  <button class="btn btn-warning" data-toggle="modal" data-target="#modal-defer-task">Defer Task</button>
</footer>
