<header class="quickview-header">
  <p class="quickview-title lead">Complete<%= 'd' if @task.done? %>: <strong><%= @task.title %></strong></p>
  <span class="close"><i class="ti-close"></i></span>
</header>
  <div class="quickview-body">
    <div class="card no-margin">
      <div class="card-body card-inverse text-center pb-20">
        <span class="avatar avatar-xxl avatar-bordered"><i class="fa fa-<%= task_type_icon(task_type: @task.task_type) %> fs-30"></i></span>
        <h4 class="mt-2 mb-0">
          <% if params[:refresh_panel] == 'view-contact-tasks-panels' %>
            <%= @task.contact.print_name %>
          <% else %>
            <a class="hover-primary text-white" href="<%= admin_contact_path(@task.contact.id) %>"><%= @task.contact.print_name %></a>
          <% end %>
        </h4>
        <span><%= @task.task_type.humanize %></span>
      </div>
      <% unless @task.done? %>
        <div class="btn-group btn-group-justified">
          <button class="btn p-10 btn-warning" onclick="deferTask(<%= @task.id %>, '<%= @task.due_date.localtime.strftime('%m/%d/%Y - %I:%M %p') %>')">Defer Task</button>
          <a data-params="refresh_panel=<%= params[:refresh_panel] %>" data-remote="true" data-method="delete" href="<%= admin_task_path(@task.id) %>" class="btn p-10 btn-danger text-white">Delete</a>
        </div>
      <% end %>
      <div class="p-20">
        <span class="text-muted">Description</span>
        <br/><span><%= @task.details %></span>
      </div>
      <ul class="flexbox flex-justified text-center p-20">
        <li class="br-1 border-light">
          <span class="text-muted">Date</span><br>
          <span><%= @task.due_date.localtime.strftime('%m/%d/%Y') %></span>
        </li>
        <li>
          <span class="text-muted">Time</span><br>
          <span><%= @task.due_date.localtime.strftime('%I:%M %p') %></span>
        </li>
      </ul>

      <% unless @task.done? %>
        <%= render partial: "plugins/flexx_plugin_crm/admin/task_actions/#{@task.task_type}", locals: {contact: @task.contact} %>
      <% end %>

      <%= form_tag admin_task_path(id: @task.id, format: :js), method: :patch, remote: true, authenticity_token: true, id: 'update-task-form', class: 'quickview-block form-type-combine' do %>
        <input type="hidden" name="refresh_panel" value="<%= params[:refresh_panel] %>">
        <input type="hidden" name="task[aasm_state]" id="task-status" value="<%= @task.aasm_state %>">

        <div id='notes-content'>
          <%= render partial: 'plugins/flexx_plugin_crm/tasks/notes' %>
        </div>
      <% end %>
    </div>
  </div>

    <footer class="quickview-footer flex-row-reverse">
      <% unless @task.done? %>
        <% case @task.task_type %>
        <% when 'email' %>
          <button class="btn btn-success" onclick="$('#task-status').val('done'); $('#update-task-form').submit();">Send and complete</button>
        <% when 'message' %>
          <button class="btn btn-success" onclick="submitTaskSendMessageForm(); $('#task-status').val('done'); $('#update-task-form').submit();">Send and complete</button>
        <% else %>
          <button class="btn btn-success" onclick="$('#task-status').val('done'); $('#update-task-form').submit();">Complete</button>
        <% end %>
        <!--<div class="btn-group">
          <button class="btn btn-success" onclick="$('#update-task-form').submit();">Save</button>
          <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"></button>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: top, left; top: 36px; left: 79px;">
            <a class="dropdown-item" style="display: block !important" onclick="$('#update-task-form').submit();" href="#">Save</a>
            <a class="dropdown-item" style="display: block !important" onclick="$('#task-status').val('done'); $('#update-task-form').submit();" href="#">Save and mark as done</a>
          </div>-->
        </div>
      <% end %>
      <button class="btn btn-light" onclick="closeTaskView(this)">Close</button>
    </footer>
