<% tasks.each do |row| %>
  <div class="card b-1 hover-shadow-2 mb-20 task-card <%= 'completed' if row.done? %>" data-staff="<%= row.owners.ids unless row.owners.empty? %>" data-completed="<%= row.updated_by if row.done? %>">
    <a class="media card-body" data-toggle="quickview" href="#qv_view_task" data-url="<%= admin_task_card_path(id: row.id, refresh_panel: refresh_panel) %>">
      <div class="media-left d-none d-sm-block">
        <% if row.done? %>
          <span class="avatar avatar-xl no-radius" style="background-color: #fff;"><i class="ti-check-box fs-60 text-success"></i></span>
        <% else %>   
          <div class="br-1 text-light">
            <ul class="list-unstyled text-center mb-0 mr-20">
              <li><i class="fs-25 text-fade fa fa-<%= task_type_icon(task_type: row.task_type) %>"></i></li>
              <li><small class="due-date fw-300"><%= row.due_date.in_time_zone(cookies[:timezone]).today? ? 'Today' : row.due_date.in_time_zone(cookies[:timezone]).strftime('%m/%d') %> <%= row.due_date.in_time_zone(cookies[:timezone]).strftime('%I:%M%p') %></small></li>
            </ul>
          </div>
        <% end %>        
      </div>
      <div class="media-body">
        <div class="<%= 'mt-10' unless row.details.present? %>">
          <span class="fs-18 pr-16"><strong><%= "#{row.contact.print_name}" %> </strong><span class="divider-dash"></span><%= row.title %></span>
        </div>
        <% if row.done? %>
          <small class="fs-14 fw-300"><strong>Completed: </strong><%= row.updated_at.in_time_zone(cookies[:timezone]).today? ? 'Today,' : row.updated_at.in_time_zone(cookies[:timezone]).strftime('%B %d') %>&nbsp;<%= row.due_date.in_time_zone(cookies[:timezone]).strftime('%I:%M %p') %></small>
        <% else %>
          <p class="fs-13 fw-300 text-fade text-truncate" style="max-width: 500px;"><%= row.details %></p>
        <% end %>
      </div>
      <% if row.done? %>
        <div class="media-right text-right d-none d-md-block">
          <% user = current_site.users.find_by_id(row.updated_by) %>
          <p class="fs-14 text-fade mb-12"><span class="avatar bg-dark"><%= user && user.initials %></span></p>
          <% unless row.notes.empty? %>
            <span class="text-lighter fs-12 hover-light"><strong><%= row.notes.count %></strong> notes</span>
          <% end %>
        </div>
      <% end %>
    </a>
    <% unless row.done? %>
      <footer class="card-footer flexbox align-items-center">
        <div>
          <span class="text-lighter">
            <i class="ti-comment-alt mr-1"></i> <%= row.notes.count %>
          </span>
          <!--
          <span class="card-hover-show pl-20">            
            <% if row.task_type == 'meeting' && row.confirmed_at.nil? && !row.done? %>
              <button class="btn btn-xs fs-10 btn-bold btn-info" onclick="sendConfirmation(<%= row.id %>)">Ask Confirmation</button>
            <% end %>
            
            <% unless row.done? %>
              <button class="btn btn-xs fs-10 btn-bold btn-warning" onclick="deferTask(<%= row.id %>, '<%= row.due_date.localtime.strftime('%m/%d/%Y - %I:%M %p') %>')">Defer Task</button>
              <a class="btn btn-xs fs-10 btn-bold btn-danger ml-15" data-params="refresh_panel=<%= refresh_panel %>" data-remote="true" data-method="delete" href="<%= admin_task_path(row.id) %>">Remove</a>
            <% end %>
          </span>
          -->
        </div>
        <div class="pull-right">
          <span class="pr-12">Assigned to: </span>
          <div class="avatar-list">
            <% unless row.done? %>
              <% row.owners.each do |owner| %>
                <span class="avatar bg-dark"><%= owner.initials %></span>
              <% end %>
              <button class="avatar avatar-add" data-provide="modaler" data-title="Assign staff" data-footer-visible="false" data-url="<%= admin_task_task_owners_path(task_id: row.id, refresh_panel: refresh_panel) %>"></button>
            <% end %>
          </div>
        </div>
      </footer>
    <% end %>
  </div>
<% end %>
