<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/tasks' %>
<% end %>

<style>
  .custom-checkbox .custom-control-label:empty::after { top: 2px; } 
  #old-pending-tasks-list .due-date { color: red; }
</style>

<header class="header">
  <div class="header-info">
    <h2 class="header-title"><strong>Tasks</strong></h2>
  </div>
  <div class="header-action">
    <nav id="taskNav" class="nav">
      <a class="nav-link active" data-toggle="tab" href="#tab-today">Today</a>
      <a class="nav-link" data-toggle="tab" href="#tab-upcoming">Upcoming</a>
      <a class="nav-link" data-toggle="tab" href="#tab-completed">Completed</a>
    </nav>
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="quickview" data-target="#qv-add-task"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <div id="pendingStaff" class="card">
        <h5 class="card-title"><strong>Staff list</strong></h5>
        <div class="media-list media-list-divided media-list-hover" data-provide="selectable selectall">

          <header class="media media-single media-list-header" style="padding: 8px 12px;">
            <span class="title">Select all</span>
            <div class="custom-control custom-control-lg custom-checkbox" onclick="checkedStaff(); return false;">
              <input type="checkbox" class="custom-control-input" name="staffAll">
              <label class="custom-control-label"></label>
            </div>
          </header>

          <div class="media-list-body" id="staffList">

            <div class="media media-single" onclick="checkedStaff(); return false;">
              <span class="avatar avatar-sm"><%= current_user.initials %></span>
              <span class="title"><%= current_user.first_name %> <%= current_user.last_name %></span>
              <div class="custom-control no-border custom-control-lg custom-checkbox">
                <input id="<%= current_user.id %>" value="<%= current_user.id %>" name="staff" type="checkbox" class="custom-control-input" checked>
                <label class="custom-control-label"></label>
              </div>
            </div>

            <% current_site.users.decorate.each do |staff| %>
              <% unless staff.id == current_user.id %>
                <div class="media media-single" onclick="checkedStaff(); return false;">
                  <span class="avatar avatar-sm"><%= staff.initials %></span>
                  <span class="title"><%= staff.first_name %> <%= staff.last_name %></span>
                  <div class="custom-control no-border custom-control-lg custom-checkbox">
                    <input id="<%= staff.id %>" value="<%= staff.id %>" name="staff" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label"></label>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div> 

        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-9">
      <div class="tab-content">

        <div class="tab-pane fade active show" id="tab-today">
          <div class="row">
            <div class="col-md-12">
              <% if @old_pending_tasks.length > 0 %>
                <div id="old-pending-tasks-list">
                  <%= render partial: 'tasks_list', locals: { tasks: @old_pending_tasks, refresh_panel: 'tasks-dashboard' } %>
                </div>
              <% end %>
              <div id="todays-tasks-list" class="mb-90">
                <% if @todays_tasks.length > 0 %>
                  <%= render partial: 'tasks_list', locals: { tasks: @todays_tasks, refresh_panel: 'tasks-dashboard' } %>
                <% else %>
                  <div class="media card-body b-1">
                    <div class="media-body h-80px">
                      <div class="mb-2 text-center pt-30">
                        <span class="fs-20">All tasks complete</span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>      
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tab-upcoming">
          <div class="row">

            <div class="col-md-12">
              <div id="upcoming-tasks-list">
                <% if @upcoming_tasks.length > 0 %>
                  <%= render partial: 'tasks_list', locals: { tasks: @upcoming_tasks, refresh_panel: 'tasks-dashboard' } %>
                <% else %>
                  <div class="media card-body b-1">
                    <div class="media-body h-100px">
                      <div class="mb-2 text-center pt-20">
                        <p class="fs-20">No upcoming tasks</p>
                        <a class="btn btn-pure btn-primary" data-toggle="quickview" href="#qv-add-task" data-target="#qv-add-task">Create a task</a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="tab-completed">
          <div class="row">

            <div class="col-md-12">          
              <div id="old-completed-tasks-list">
                <% if @upcoming_tasks.length > 0 %>
                  <div class="divider text-uppercase fw-500">Today</div>
                  <%= render partial: 'tasks_list', locals: { tasks: @todays_completed_tasks, refresh_panel: '' } %>
                <% end %>
                <%= render partial: 'tasks_list', locals: { tasks: @old_completed_tasks, refresh_panel: '' } %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_task" class="quickview quickview-xxl backdrop-dark"></div>

<!-- QUICKVIEW - Add task -->
<div id="qv-add-task" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Task</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <%= form_tag admin_tasks_path, method: :post, authenticity_token: true, id: 'new-task-form', class: 'form-type-combine' do %>

      <div class="card-body">
        <label>Contact</label>
        <input class="form-control" type="text" id="contacts-field" placeholder="Start typing name...">
        <input type="hidden" name="task[contact_id]" id="new-task-contact-id">
        <br/>
        <div class="form-group">
          <label for="select">Type</label>
          <select class="form-control" name="task[task_type]">
            <option value="phone_call">Phone call</option>
            <option value="email">Email</option>
            <option value="message">Text</option>
            <option value="meeting">Meeting</option>
            <option value="general">General</option>
          </select>
        </div>
        <div class="form-group col-12">
          <label>Date / Time</label>
          <input class="form-control datetimepicker" type="text" name="task[due_date]">
        </div>
        <br>
        <h6 class="text-light fw-300">Details</h6>
        <div class="form-groups-attached">
          <div class="form-group">
            <label>Task title</label>
            <input class="form-control" type="text" name="task[title]">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="6" name="task[details]"></textarea>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <div id="new-task-spinner" class="spinner-circle-shadow invisible"></div>
    <button class="btn btn-success" id="new-task-add" onclick="addNewTask()">Add</button>
    <button class="btn btn-danger" id="new-task-cancel" onclick="cancelNewTaskForm(this)">Cancel</button>
  </footer>
</div>

<!-- MODAL: Defer task -->
<div class="modal modal-center fade" id="modal-defer-task" tabindex="-1">
  <div class="modal-dialog">
    <%= form_tag defer_task_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'defer-task-form', class: 'quickview-block form-type-combine' do %>
      <input type="hidden" name="task_id" value="" id="defer-task-id-field">
      <input type="hidden" name="refresh_panel" value="tasks-dashboard">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Defer: Task title</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Current due date</label>
            <input type="text" class="form-control" id="defer-current-due-date-field" value="" readonly="">
          </div>
          <div class="form-group">
            <label>Defer until</label>
            <input class="form-control datetimepicker" type="text" name="task[due_date]">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" onclick="$('#defer-task-form').submit()">Save changes</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- MODAL: Send Confirmation -->
<div class="modal modal-center fade" id="modal-send-confirmation" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation Message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag send_task_confirmation_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'send-confirmation-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="send-confirmation-task-id-field">
          <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" name="phonenumber" value="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal" onclick="$('#send-confirmation-form').submit()">Send</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Search Contacts -->
<div class="modal fade" tabindex="-1" id="search_contacts_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Select contact</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <div class="media-list media-list-xs media-list-divided media-list-hover" data-provide="selectable">
          <header class="media-list-header b-0">
            <form class="lookup lookup-lg w-100 bb-1 border-light">
              <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..." data-provide="media-search">
            </form>
          </header>

          <a class="media media-single" href="#">
            <span class="avatar">pt</span>
            <span class="title">Paulo Castro</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar">md</span>
            <span class="title">Mike Dent</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar">jd</span>
            <span class="title">Jane Doe</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal" data-perform="cancel">Cancel</button>
      </div>

    </div>
  </div>
</div>
