<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/common' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/tasks' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/forms_validator' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/ckeditor' %>
  <%= javascript_include_tag 'camaleon_cms/admin/jquery.validate' %>
<% end %>

<script>
  window.dynamic_fields = <%= @dynamic_fields.html_safe %>;
</script>

<style>
  .custom-checkbox .custom-control-label:empty::after { top: 2px; }

  .due-date { color: rgba(77, 82, 89, 0.7); }
  #old-pending-tasks-list .due-date { color: red; }

  .ck-editor__editable {
    min-height: 350px;
  }
  .divider::before, .divider::after {
    border-top: 1px solid #48b0f7;
  }
  .nav-link.active { border-color: #48b0f7 !important; }
</style>

<header class="header">
  <div class="header-info">
    <h2 class="header-title"><strong>Tasks</strong></h2>
  </div>
  <div class="header-action">
    <nav id="taskNav" class="nav">
      <a class="nav-link active" data-toggle="tab" href="#tab-today">Today</a>
      <a class="nav-link" data-toggle="tab" href="#tab-upcoming">Upcoming</a>
      <a class="nav-link" data-toggle="tab" href="#tab-completed">Completed</a>
      <a class="nav-link" data-toggle="tab" href="#tab-stock">Stock Tasks <span class="badge badge-success" data-provide="tooltip" title="Save tasks you use consistently to add them quickly to contacts.">New</span></a>
    </nav>
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="quickview" data-target="#qv-add-task"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="tab-content">
    <%= render 'tab_today' %>
    <%= render 'tab_upcoming' %>
    <%= render 'tab_completed' %>
    <%= render 'tab_stock' %>
  </div>   
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_task" class="quickview quickview-xxl backdrop-dark"></div>

<!-- QUICKVIEW - Add task -->
<div id="qv-add-task" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">New <strong>Task</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <%= form_tag admin_tasks_path, method: :post, authenticity_token: true, id: 'new-task-form', class: 'form-type-combine' do %>

      <div class="card-body">
        <div class="mt-30">
          <%= render partial: 'plugins/flexx_plugin_crm/common/task_stocks_dropdown' %>
        </div>

        <div class="input-group">
          <div class="input-group-input require">
            <label class="required">Contact</label>
            <input class="form-control" required type="text" id="contacts-field" placeholder="Start typing name...">
            <input type="hidden" name="task[contact_id]" id="new-task-contact-id">
          </div>
        </div>
        <div class="form-group">
          <label for="select">Type</label>
          <select class="form-control" name="task[task_type]">
            <option value="phone_call">Phone call</option>
            <option value="email">Email</option>
            <option value="message">Text</option>
            <option value="meeting">Meeting</option>
            <option value="general">General</option>
          </select>
        </div>
        <div class="form-group col-12">
          <label>Date / Time</label>
          <input class="form-control datetimepicker" type="text" name="task[due_date]">
        </div>
        <br>
        <h6 class="text-light fw-300">Details</h6>
        <div class="form-groups-attached">
          <div class="form-group">
            <label>Task title</label>
            <input class="form-control" type="text" name="task[title]">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="6" name="task[details]"></textarea>
          </div>
        </div>

        <div class="pull-right">
          <span class="pr-12">Assign to: </span>
          <div class="avatar-list">
          </div>
          <button type="button" class="avatar avatar-add" data-assign="staff" data-target="#modal-assign-staff"></button>
        </div>
      </div>

      <div id="modal-assign-staff" class="modal fade" tabindex="-1" style="background-color:#7f7f7f;" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Assign staff</h5>
              <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <%= render 'plugins/flexx_plugin_crm/tasks/owners' %>
              <div class="text-right">
                <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <div id="new-task-spinner" class="spinner-circle-shadow hidden"></div>
    <button class="btn btn-success" id="new-task-add" onclick="addNewTask()">Add</button>
    <button class="btn btn-danger" id="new-task-cancel" onclick="cancelNewTaskForm(this)">Cancel</button>
  </footer>
</div>

<!-- MODAL: Defer task -->
<div class="modal modal-center fade" id="modal-defer-task" tabindex="-1">
  <div class="modal-dialog">
    <%= form_tag defer_task_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'defer-task-form', class: 'quickview-block form-type-combine' do %>
      <input type="hidden" name="task_id" value="" id="defer-task-id-field">
      <input type="hidden" name="refresh_panel" value="tasks-dashboard">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Defer task</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Current due date</label>
            <input type="text" class="form-control" id="defer-current-due-date-field" value="" readonly="">
          </div>
          <div class="form-group">
            <label>Defer until</label>
            <input class="form-control datetimepicker" type="text" name="task[due_date]">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" onclick="$('#defer-task-form').submit()">Save changes</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- MODAL: Schedule message task -->
<div class="modal modal-center fade" id="modal-schedule-task-message" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule task message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Select a date and time</label>
          <input class="form-control datetimepicker" type="text" name="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
        <!-- Need to add condition to show/hide cancel scheduling button if message has already been scheduled -->
        <button type="button" class="btn btn-bold btn-secondary" data-dismiss="modal">Cancel Scheduling</button>
        <button id="set-task-schedule" type="button" class="btn btn-bold btn-success" onclick="">Schedule</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: Send Confirmation -->
<div class="modal modal-center fade" id="modal-send-confirmation" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation Message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag send_task_confirmation_admin_tasks_path(), method: :post, remote: true, authenticity_token: true, id: 'send-confirmation-form', class: 'quickview-block form-type-combine' do %>
        <div class="modal-body">
          <input type="hidden" name="task_id" value="" id="send-confirmation-task-id-field">
          <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" name="phonenumber" value="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-bold btn-pure btn-primary" data-dismiss="modal" onclick="$('#send-confirmation-form').submit()">Send</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL: Search Contacts -->
<div class="modal fade" tabindex="-1" id="search_contacts_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Select contact</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <div class="media-list media-list-xs media-list-divided media-list-hover" data-provide="selectable">
          <header class="media-list-header b-0">
            <form class="lookup lookup-lg w-100 bb-1 border-light">
              <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..." data-provide="media-search">
            </form>
          </header>

          <a class="media media-single" href="#">
            <span class="avatar">pt</span>
            <span class="title">Paulo Castro</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar">md</span>
            <span class="title">Mike Dent</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar">jd</span>
            <span class="title">Jane Doe</span>
            <div class="custom-control no-border custom-control-lg custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label"></label>
            </div>
          </a>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal" data-perform="cancel">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- QUICKVIEW - View task -->
<div id="qv_view_stock_task" class="quickview quickview-xxl backdrop-dark"></div>
