<% content_for :js do %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/stocks' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/vendors/jstz.min' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_crm/vendors/js.cookie' %>
  <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/ckeditor' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Cookies.set('timezone', jstz.determine().name());
  });
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag 'plugins/flexx_plugin_crm/stocks', media: 'all' %>
<% end %>

<script>
  window.dynamic_fields = <%= @dynamic_fields.html_safe %>;
</script>

<header class="header">
  <%= render 'next/partials/breadcrumb', link: '/admin/next/contacts', page: 'CRM' %>
  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>Stock Messages</strong></h2>
    </div>
  </div>

  <div class="header-action">
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="modal" data-target="#modal_new_stock"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div data-provide="shuffle">
    <div class="text-center" data-shuffle="filter">
      <button class="btn btn-w-sm btn-secondary active" data-shuffle="button">All</button>
      <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="snippet">Snippets</button>
      <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="rich_text">Rich Text</button>
      <!-- <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="html">HTML</button> -->
    </div>

    <br><br>

    <div id="stock-list-panel" class="row" data-shuffle="list">
      <%= render partial: 'card_list', locals: { stocks: @stocks } %>
    </div>
  </div>
</div>

<!-- Quickviews and Modals -->

<!-- Modal: New message type -->
<div class="modal modal-center fade" id="modal_new_stock" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New stock message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Choose a message type:</p>
        <p class="text-center">
          <button class="btn btn-w-md btn-multiline btn-primary" data-toggle="quickview" data-target="#qv-stock" data-url="<%= new_admin_stock_path(stock_type: 'snippet') %>" data-dismiss="modal"><i class="ti-notepad fs-20"></i><br>Snippet</button>
          <button class="btn btn-w-md btn-multiline btn-primary" data-toggle="quickview" data-target="#qv-stock" data-url="<%= new_admin_stock_path(stock_type: 'rich_text') %>" data-dismiss="modal"><i class="ti-layout-cta-left fs-20"></i><br>Rich Text</button>
          <!-- <button class="btn btn-w-md btn-multiline btn-primary"><i class="ti-layout-accordion-separated fs-20"></i><br>HTML</button> -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Quickview: Snippet -->
<div id="qv-stock" class="quickview quickview-xxl backdrop-dark"></div>
