<select class="form-control" data-provide="selectpicker" name="<%= input_field_name %>" id="<%= input_field_name %>">
  <% EngageToolsService.senders_list(site: current_site).each do |row| %>
    <%
      selected = if defined?(value) && value
        row[:email] == value
      else
        row[:email] == current_user.email
      end
    %>
    <option value="<%= row[:email] %>" <%= 'selected' if selected %>><%= row[:name] %> - <%= row[:email] %></option>
  <% end %>
</select>
