<select class="form-control" data-provide="selectpicker" name="<%= input_field_name %>">
  <% senders_list.each do |row| %>
    <%
      selected = if defined?(value) && value
        row.email == value
      else
        row.email == current_user.email
      end
    %>
    <option value="<%= row.email %>" <%= 'selected' if selected %>><%= row.print_name %> - <%= row.email %></option>
  <% end %>
</select>
