<style>
  .website-form { min-height: 400px; }
  .website-form .avatar-list { display: block; }
  .website-form .avatar-list .avatar { border: 2px solid #fff; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); }
  .website-form .avatar-list .avatar.active { color: #15c377; background-color: #e3fcf2; border-color: #15c377; }
</style>

<header class="header">
  <div class="header-info">
    <h2 class="header-title">Your <strong>Forms</strong> <small class="subtitle">Listed below are all of the forms currently available on your website. Click on any form's name to see more details and edit settings.</small></h2>
  </div>
</header>

<div class="main-content">
  <div class="row">
    <% @forms.each do |form| %>
      <div class="col-md-6 col-xl-4">
        <div class="card website-form hover-shadow-4">
          <a href="<%= edit_admin_form_path(form.id) %>" class="card-header">
            <h4 class="card-title"><strong><%= form.name %></strong> <small class="subtitle"><%= form.description %></small></h4>            
            <ul class="card-controls">
              <li><i class="fas fa-sliders-h fs-16  "></i></li>
            </ul>
          </a>

          <div class="card-body center-vh">
            <div class="text-center">
              <h6 class="text-uppercase text-gray">Total responses</h6>
              <div class="mt-2 fs-30">
                <span class="fab fa-wpforms text-info fs-30 mr-10"></span> <%= form.responses.count %>
              </div>
              <% if form.responses.count > 0 %>
                <div class="text-center">
                  <small class="fw-300">Last submission: <%= form.responses.first.created_at.localtime.strftime('%m/%d/%y - %I:%M %p') %></small>
                </div>
              <% end %>
            </div>
          </div>

          <footer class="card-footer ">
            <h6>On form submission...</h6>
            <div class="flexbox">
              <div class="">
                <label class="mr-10">Actions</label>
                <div class="avatar-list">
                  <span class="avatar <%= 'active' if form.the_settings.try(:[], 'railscf_redirect').try(:[], 'enabled') == 'true' %>" title="Page Redirect" data-provide="tooltip"><i class="fas fa-retweet"></i></span>
                  <span class="avatar <%= 'active' if form.the_settings.try(:[], 'railscf_response').try(:[], 'enabled') == 'true' %>" title="Email Response" data-provide="tooltip"><i class="far fa-paper-plane"></i></span>                  
                  <span class="avatar <%= 'active' if form.the_settings.try(:[], 'railscf_webhook').try(:[], 'enabled') == 'true' %>" title="Zapier" data-provide="tooltip"><i class="far fa-share-square"></i></span>
                  <!-- <span class="avatar" title="Recipe" data-provide="tooltip"><i class="ti-layout-list-thumb"></i></span> -->
                </div>
              </div>

              <div class="">
                <label class="mr-10">Notifications</label>
                <div class="avatar-list">
                  <span class="avatar active" title="Email Notification" data-provide="tooltip"><i class="far fa-envelope"></i></span>
                  <span class="avatar <%= 'active' if form.the_settings.try(:[], 'railscf_twilio').try(:[], 'enabled') == 'true' %>" title="SMS Notification" data-provide="tooltip"><i class="fas fa-mobile-alt"></i></span>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
</div>
