<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="flexx. Admin">

    <title>flexx. Admin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <%= stylesheet_link_tag    'plugins/flexx_plugin_next_admin/main', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'plugins/flexx_plugin_crm/global', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.7.2/css/all.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :css %>

    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/base' %>

    <%= csrf_meta_tags %>

    <style>
      #notification-feed {
        position: absolute;
        width: 100%;
        top: 64px;
        right: 0;
        z-index: 1000;
      }

      #notification-feed .alert {
        width: 400px;
        max-width: 100%;
        border-radius: 0 !important;
        float: right;
        clear: both;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>

    <!-- Preloader -->
    <div class="preloader">
      <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
      </div>
    </div>

    <!-- Sidebar -->
    <%= render 'layouts/sidebar' %>

    <!-- Topbar -->
    <%= render 'layouts/topbar' %>

    <!-- Main container -->
    <main class="main-container">
      <div id="notification-feed">
      </div>
      <div id="flash-messages"><%= render 'layouts/flash_messages' %></div>

      <%= yield %>

      <!-- Fullscreen Search -->
      <%= render 'layouts/search_layer' %>

      <!-- Global Quickview -->
      <%= render 'layouts/qv_global' %>

      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </main>
    <!-- END Main container -->

    <!-- Scripts -->
    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/core.min' %>
    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/vendors' %>
    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/app' %>
    <%= javascript_include_tag 'plugins/flexx_plugin_next_admin/next_admin' %>
    <%= yield :js %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/getstream/dist/js_min/getstream.js"></script>

    <script type="text/javascript">
      window.feedClient = stream.connect('<%= ENV['STREAM_API_KEY'] %>', '<%= StreamAdapter.client.create_user_token(current_site.id.to_s) %>', '<%= ENV['STREAM_APP_ID'] %>');
      window.notificationsFeed = window.feedClient.feed('notifications');

      function callback(data) {
        data.new.forEach(function (row) {
          $("#notification-feed").append("<div class='alert alert-info alert-dismissible fade show' role='alert'> " +
                                            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                              "<span aria-hidden='true'>&times;</span>" +
                                            "</button>" +
                                            "<a href='" + row.url + "' class='alert-link'><i class='fas fa-sms mr-10'></i>" + row.message + "</a>" +
                                          "</div>");

          if(row.verb == 'message_received') {
            $(document).trigger('messageReceived', [row]);
          }
        });
      }

      window.notificationsFeed.subscribe(callback);
    </script>
  </body>
</html>
